/*选课中心下面的内容部分*/
#select{
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
}
#select h1{
    border-bottom: 1px solid #777777;
    font-size: 18px;
    text-align: left;
    color:#575757;
    padding-bottom: 6px;
}
#select div.concent{
    background:#F8F8F8;
    height: 200px;
    border: 1px solid #D7D7D7;
    margin-top: 20px;
    padding-top: 20px;
}
div.row{
    overflow: hidden;
}
div.row div.row_left,div.row div.row_right,div.row div.row_right ul li{
    float: left;
}
div.row span.row_left_1{
    font-size: 14px;
    color:#3A3A3A;
}
div.row span.row_left_2{
    display: inline-block;
    width: 40px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    color: #FEF0EF;
    background: #F8806D;
}
div.row_left{
    width: 180px;
    height: 40px;
    margin-left: 0px;
}