
/*header部分*/
header,footer ul.concat,nav,#article,div#content,div#hot,div#advice,div#course,div#title {
    width: 1000px;
    margin: 0 auto;
}
header{
    height: 40px;
    background: #F7F7F7;
    margin-bottom: 30px;
}
header li{
    line-height: 40px;
}
#head_1{
    float: left;
}
#head_2{
    float: right;
}
#head_1 li,#head_1 li p,#head_2 li{
    display: inline-block;
}
#head_1 p.date{
    padding-left: 25px;
    background: url("../image/time.png") no-repeat 0 12px;
    margin-left: 10px;
}
#head_1 p.addr{
    padding-left: 18px;
    background: url("../image/location.png") no-repeat 0 12px;
    margin-left: 10px;
    margin-right: 23px;
}
#head_1 p.weather img{
    width: 18px;
    height: 18px;
    position: relative;
    top: 4px;
    left: -3px;
}
#head_2{
    float: right;
}
#head_2 li{
    margin-right: 5px;
}
#head_2 li.rig_1 span{
    font-weight: bold;
}
#head_2 li.rig_2 span{
    color: #55A5E4;
}
#head_2 li.rig_3{
    margin-right: 20px;
    margin-left: 10px;
}
#head_2 li.rig_3 span{
    display: inline-block;
    width: 50px;
    height: 25px;line-height: 25px;
    border: 1px solid #D5D5D5;
    text-align: center;
    cursor: pointer;
}
/*标题图片部分*/
div#title{
    position: relative;
    height: 50px;
    margin-bottom: 25px;
}
div#title img{
    position: absolute;
    left: 20px;

}
/*article中间切换部分*/
#article ul.nav{
    border-bottom:2px solid #D5D5D5;
}
#article ul.nav li{
    display: inline-block;
    width: 95px;
    height: 35px;
    border: 1px solid #D5D5D5;
    background: #F7F7F7;
    border-bottom: none;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
}
#article ul.nav li.active{
    background: #58A5E4;
}
#article ul.nav li.active a{
    color: #fff;
}
#article div.return{
    text-align: left;
    margin-top: 13px;
    cursor: pointer;
}
#article div.return a{
    color:#AEAEAE;
}


/*内容部分区域*/
div#content{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #C8C8C8;
    margin-top: 20px;
    padding-top: 25px;
}
div#content h1{
    font-size: 18px;
    margin-bottom: 15px;
}

/*footer部分*/
footer{
    height:260px;
    margin-top: 100px;
    background: #58A5E4;
    text-align: center;
    padding-top: 55px;
    color: #D5E1ED;
}
footer ul.concat li{
    display: inline-block;
}
footer ul.concat li a{
    text-decoration: underline;
    color: #D5E1ED;
    font-size: 16px;
}
footer div.line{
    width: 800px;
    margin: 0 auto;
    border: 1px solid #9CC5E9;
    margin-top: 10px;
    margin-bottom: 15px;
}
footer>p{
    font-size: 14px;
    margin-bottom: 15px;
}
footer p.eng{
    width: 715px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 15px;
}
footer p.eng span{
    margin-right: 13px;
}