<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>培训资讯</title>
    <link rel="stylesheet" href="__PUBLIC__/home/css/common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/home/css/style_train.css"/>

    <script src="__PUBLIC__/home/js/jquery-1.11.3.js"></script>
    <script src="__PUBLIC__/home/js/html5shiv.min.js"></script>
    <script src="__PUBLIC__/home/js/common.js"></script>
    <script src="__PUBLIC__/home/js/train.js"></script>
    <script src="__PUBLIC__/home/js/jquery.twbsPagination.min.js"></script>

</head>
<body>

<header id="header">
</header>


<!--nan部分-->
<div id="title">
    <img src="__PUBLIC__/home/image/nav.png" alt=""/>
</div>
<div id="article">
    <ul class="nav">
        <li >
            <a href="/">首页</a>
        </li>
        <li class="active">
            <a href="/news">培训资讯</a>
        </li>
        <li>
            <a href="/course?is_master=1">选课</a>
        </li>
        <li>
            <a href="/user/center">学习中心</a>
        </li>
    </ul>
    <ul class="search">
        <li class="key search">
            <input id="key" name="title" value="" type="text" placeholder="请输入新闻关键字"/>
            <i>
                搜索
            </i>
        </li>
    </ul>
</div>
<div id="content">
    <div class="banner">
        <ul>
            <li class="country active" value="1"> 国资资讯</li>
            <li class="busy" value="2">企业资讯</li>
        </ul>
    </div>
    <div class="aside tab_1">

</div>
    <div class="pageBox"  id="pageBox" style="text-align: center;">
        <ul id="pagination" class="pagination m-n"></ul>
    </div>
</div>




<footer id="footer" >

</footer>


</body>
</html>