<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>培训资讯</title>
    <link rel="stylesheet" href="../Public/home/css/common.css"/>
    <link rel="stylesheet" href="../Public/home/css/style_train.css"/>
    <!--<link rel="stylesheet" href="../Public/home/css/style_train_list.css"/>-->

    <!--<link rel="stylesheet" href="../Public/home/css/style_index.css"/>-->
    <script src="../Public/home/js/jquery-1.11.3.js"></script>
    <script src="../Public/home/js/html5shiv.min.js"></script>
    <script src="../Public/home/js/train.js"></script>
    <script src="../Public/home/js/common.js"></script>
    <!--<script src="../Public/home/js/index.js"></script>-->
</head>
<body>
<header id="header">
</header>

<!--nan部分-->
<div id="title">
    <img src="../Public/home/image/nav.png" alt=""/>
</div>
<div id="article">
    <ul class="nav">
        <li >
            <a href="/">首页</a>
        </li>
        <li class="active">
            <a href="/news">培训资讯</a>
        </li>
        <li>
            <a href="/course">选课</a>
        </li>
        <li>
            <a href="/user/center">学习中心</a>
        </li>
    </ul>

</div>
<div id="content">
    <div class="return">
        <a href="/news?news_type=1">&lt;&lt;返回培训资讯列表</a>
    </div>
    <div class="con">
        <h1>{$news_info.title}</h1>

        <div class="list">
           {$news_info.content}
        </div>

</div>

</div>


<footer id="footer" >
</footer>

</body>
</html>