<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>华录文化管理后台</title>
  
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../../Public/admin/css/bootstrap.css" rel="stylesheet">
    <link href="../../Public/admin/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../../Public/admin/css/stylesheet.css" rel="stylesheet">
    <link href="../../Public/admin/css/index.css" rel="stylesheet">
    <link href="../../Public/admin/icon/font-awesome.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="../../Public/admin/css/uploadify.css">

      <script src="../../Public/admin/js/jquery-1.10.2.js"></script>
      <script src="../../Public/admin/js/jquery-ui-1.10.3.js"></script>
      <script src="../../Public/admin/js/bootstrap.js"></script>
      <script src="../../Public/admin/js/WdatePicker.js"></script>
      <script src="../../Public/admin/js/common.js"></script>
      <script src="../../Public/admin/js/WdatePicker.js"></script>
      <script src="../../Public/admin/js/jquery.uploadify.min.js" ></script>

    <style type="text/css">
        .cover img{
            height: 200px;
            width: 360px;
        }

        .cse_type{
            margin-left: 81px;
            margin-bottom: 10px;
            margin-top: -20px;
            width: 400px;
            min-height: 100px;
            border-style: ridge;
            height: 150px;
            overflow: auto;
        }
        .cse_type label{

        }
    </style>
  </head>

  <body>

    
    <div id="content"> <!-- Content start -->
      <div class="inner_content">
          <div class="widgets_area">
                <div class="row-fluid">
                    <div class="span12">
                         <div  class="daohanglink"style="">
                           <span class="daohang"></span>
                             <a href="/admin">首页</a><span>></span>
                             <a href="/admin/teacher">师资管理</a><span>></span>
                           <span>添加教师</span>
                           
                         </div>
                        <div class="well brown">
                         <form action="/admin/teacher/doAddTeacher" method="post" enctype="multipart/form-data">
                            <div class="form_list"><label class="lable_title">姓名</label><input id="name" name="name" class="form_input" type="text" value={$data.name}></div>

                              <div class="form_list"><label  class="lable_title">头像</label>
                                  </div>
                             <div class="cover">
                                 <img src="<?php print_r($data['avatar']);?>" style="width: 360px;height: 200px;margin-top: -7px;margin-left: 61px;"/>
                                 <input type="hidden" name="cover">
                             </div>
                             <div class="upload">

                                     <div id="queue"></div>
                                     <input id="uploadify" name="uploadify" type="file" multiple="true">
                                     <p>
                                         <a href="javascript:jQuery('#uploadify').uploadify('upload','*');">上传</a>|
                                         <a href="javascript:jQuery('#uploadify').uploadify('ClearQueue','*');">取消上传</a>|
                                     </p>

                             </div>

                             <div class="form_list"><label  class="lable_title">选择擅长分类</label>

                             </div>
                             <div class="cse_type" value="{$data.ct_id}" >
                                 <ul>
                                     <foreach name="ct_list" item="vo">
                                         <li><input name="ct_id[]" type="checkbox" value="{$vo.ct_id}" />{$vo.name} </li>
                                     </foreach>
                                 </ul>

                             </div>
                             <div class="form_list gender" value="{$data.gender}"><label class="lable_title">
                                 性别
                             </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <input type="radio" name="gender" value="1">男
                                 <input type="radio" name="gender" value="0">女
                             </div>
                             <div class="form_list"><label class="lable_title">邮箱</label>
                                 <input id="email" name="email" class="form_input" type="text" value={$data.email}>
                             </div>
                             <div class="form_list"><label class="lable_title">生日</label>
                                 <input  name="birthday" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="form_input" type="text" value={$data.birthday}>
                             </div>

                             <div class="form_list"><label class="lable_title">手机</label>
                                 <input id="mobile" name="mobile" class="form_input" type="text" value={$data.mobile}>
                             </div>


                             <div class="form_list"><label class="lable_title">民族</label>
                            <select id="ethnic" name="ethnic" value="{$data.ethnic}" style="width:150px; margin-left:15px;">
                              <option value="">请选择民族</option>
                                <volist name='ethnic_list' id='vo' key="k">
                                    <option value="<?php print($k); ?>" >{$vo}</option>
                                </volist>

                            </select>
                                    </div>

                             <div class="form_list"><label class="lable_title">地址</label>
                                 <input id="address" name="address" class="form_input" type="text" value={$data.address}>
                             </div>

                             <div class="form_list"><label class="lable_title">职务</label>
                                 <input id="duties" name="duties" class="form_input" type="text" value={$data.duties}>

                             </div>


                             </br>
                             <div class="form_list"><label class="lable_title">单位</label>
                                 <input id="unit" name="unit" class="form_input" type="text" value={$data.unit}>
                             </div>
                             <div class="form_list"><label class="lable_title">介绍</label>
                                 <textarea id="intro" name="intro" class="form_input" type="text" value={$data.intro}>
                                     </textarea>

                             </div>

                             <input type="hidden" name="op_type" value="{$op_type}" />
                             <input type="hidden" name="teacher_id" value="{$data.teacher_id}" />
                             <div class="form_list">
                                 <input type="submit" class="submit" value="&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;">
                             </div>

                         </form>
                           

                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>


  <script type="text/javascript">
      $(function(){

          if(cse_type = $('.cse_type').attr('value').split(',')){
              $.each(cse_type,function(i,n){
                  $('.cse_type input[value='+ n+']').prop('checked',true);
              })
          }

          if(ethnic = $('#ethnic').attr('value')){
              $('#ethnic option[value='+ethnic+']').prop('selected',true);
          }

          if(gender = $('.gender').attr('value')){
              $('.gender input[value=' + gender +']').prop('checked',true);
          }


          $('#uploadify').uploadify({
              'formData': {
                  'timestamp': new Date().getTime(),
                  'token': '<?php echo md5(' + unique_salt + ' . $timestamp);?>',
                  'type': '3',
              },
              'swf': '/Public/admin/js/uploadify.swf',//swf路径
              'uploader': '/admin/course/upload',//处理文件的服务器地址
              'filesSelected': '1',//同时选择文件的个数
              'uploadLimit': '30',//选择文件的总数
              'method': 'post',
              'auto': false,
              'multi': true,
              'width': '120',
              'height': '40',
              'cancelImg': '/Public/admin/image/uploadify-cancel.png',
              'buttonText': '请选择图片',
              'fileObjName': 'uploadFile',
              'fileSizeLimit': '0',
              'onUploadSuccess': function (file, data, response) {
                  var obj = eval('(' + data + ')');

                  if (obj.code !== 10000)
                      alert(obj.msg);
                  else if (img_url = obj.result.path) {
                      $('.cover img').attr({src:BASE_URL+'/'+img_url});
                      $('.cover input').attr({value:img_url});
                  }

              }


          })
      })
  </script>


  </body>
</html>
