<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>首页-高端培训</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/style.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/about_us.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/home.css" />
	</head>
	<body>
    <div class="head2">
        <div class="wrap wrap6">
            <div class="logobox">
                <div class="left">
                    <img src="__PUBLIC__/home/images/logo.png" alt="华录文化教育LOGO" />
                </div>
                <div class="right">
                    <img src="__PUBLIC__/home/images/by.png" alt="宣传标语" />
                    <img src="__PUBLIC__/home/images/phone.png" alt="华录文化教育400服务电话" />
                </div>
            </div>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/index">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
                <li><a href="/about">关于我们</a></li>
                <li><a href="/course">课程设置</a></li>
                <li><a href="/employment">就业体系</a></li>
                <li><a href="/notice">学员须知</a></li>
                <li><a href="/train">高端培训</a></li>
                <li><a href="contact_us.html">联系我们</a></li>
            </ul>
        </div>
    </div>
			<div class="position">
				<div class="wrap wrap6">
					<div class="pos_con">您当前的位置：<a href="">首页</a>> <a href="">高端教育</a>><a href="">企业定制</a></div>
				</div>
			</div>
		</div>

		<div class="main_content">
            <div class="list_nav">
                <ul>
                    <li><a href="/train/">院校合作<span>></span></a></li>
                    <li><a href="/train/customEnterprise">企业定制<span>></span></a></li>
                    <li class="li_last"><a href="/train/help">文化扶贫<span>></span></a></li>
                    <li class="li_last"><a href="/train/information">教育信息化<span>></span></a></li>

                </ul>
            </div>
			<div class="list_con">
		<p>       近年来，用人单位人才招聘难和求职者应聘难之间的矛盾愈演愈烈，每到招聘旺季，大学生、初高中生等各类学历层次的求职者涌入就业市场，开始求职之路，而每年企业提出的招聘量虽然总体趋势上扬，但实际招聘中却很难找到称心的人才。而企业人才定制作为一种新型的人才输送模式，正以强劲之势进入人们的视线。</p><br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<div class="talent">
			<div class="education">
				<div class="edu_con">
					<div class="edu_list left">
						<div class="edu_icon"><img src="__PUBLIC__/home/images/educate_03.png" alt="人才素质与企业需求不接轨" width="324" height="153" />
						
						</div>
						<div class="edu_intr_title">人才素质与企业需求不接轨</div>
						<div class="edu_intr">       一方面，大批的大学毕业生面临着严峻的就业形式;而另一方面，企业却求贤若渴，难以招聘到合适的技术人才。据相关调查报告显示，我国技术型人才短缺或成常态，很多企业尤其是技术导向型的企业都将面临招聘难、发展后劲不足的困扰。如何解决目前的人才与企业需求的不“接轨”问题，已经成为了当前我国教育发展改革的重点，更成为职业教育培训的重中之重。
						</div>
					</div>
					<div class="edu_list left">
						<div class="edu_icon"><img src="__PUBLIC__/home/images/educate_05.png" alt="按需定制高素质技能型人才" width="324" height="153" />
						</div>
						<div class="edu_intr_title">按需定制高素质技能型人才</div>
						<div class="edu_intr">       什么是企业人才定制？ 即产教融合，按照企业的需求“量身定制”的人才培养计划。企业人才定制是为帮助企业招聘到合适员工而专门开展的招聘和员工培养行为，求职人员通过选择目标职业并参与相关技能培训以进入理想职位。在用人单位和求职员工之间，以企业指定或者符合行业资质的培训机构对求职者进行技能提升，减少企业员工培养成本，帮助求职者找到更好的求职定位。企业人才定制已逐渐晋升实战型人才培养主力模式。
						</div>
					</div>
					<div class="edu_list left">
						<div class="edu_icon"><img src="__PUBLIC__/home/images/educate_07.png" alt="华录人才定制保障高薪就业" width="324" height="153" />
						</div>
						<div class="edu_intr_title">华录人才定制保障高薪就业</div>
						<div class="edu_intr">       华录教育联合各知名企业开始专项、定制的人才培养模式，因VR行业人才紧缺更具定制需求。企业通过与华录教育开拓人才定制模式，在潜在员工培训期间与其签订一定的就业保障协议，让年轻人早学习期间拥有更多就业保障，也让越来越多缺乏技能的求职者对其青睐。而VR行业的技术性及前沿性保证了学生的就业高度，确保学生毕业后即成为高薪技术人才。
						
						</div>
					</div>
					<p>       华录教育的企业人才定制完全是一种以就业为导向，以实训为目标的新型实战型人才培养计划。相信在此求职发展趋势下，这一人才培养模式将得到更大的普及和运用。
</p>	
				</div>	
			</div>
		</div>
		</div>
		
	
		</div>
		</div>
	
		
		<div class="edu_con">
			<div class="wrap">
				<br></br>
	         	<br></br>
	         	<br></br>
	         	<br></br>
	         	<br></br>
	         	<br></br>
	         	<br></br>
	         	<br></br>
                <ul>
                    <li><img src="__PUBLIC__/home/images/3D1.png" alt="合作伙伴1" /><span>Unity3D开发</span></li>
                    <li><img src="__PUBLIC__/home/images/UI1.png" alt="合作伙伴1" /><span>UI设计</span></li>
                    <li><img src="__PUBLIC__/home/images/snsj1.png" alt="合作伙伴1" /><span>室内设计</span></li>
                    <li><img src="__PUBLIC__/home/images/webqd1.png" alt="合作伙伴1" /><span>web前端设计</span></li>
                    <li><img src="__PUBLIC__/home/images/jzzs1.png" alt="合作伙伴1" /><span>建筑展示</span></li>
                    <li><img src="__PUBLIC__/home/images/yxmx1.png" alt="合作伙伴1" /><span>游戏模型</span></li>
                    <li><img src="__PUBLIC__/home/images/zx1.png" alt="合作伙伴1" /><span>在线咨询</span></li>
                </ul>
			</div>
		</div>
		<div class="footer">
			<div class="wrap wrap5">
				<ul>
					<li><a href="">关于我们</a><span>品牌介绍</span><span>VR教育</span><span>发展优势</span></li>
					<li><a href="">就业体系</a><span>就业体系</span><span>人才输出</span><span>就业服务</span></li>
					<li><a href="">学员服务</a><span>报名流程</span><span>先学习后付款</span><span>学院地址</span><span>校园环境</span></li>
					<li><a href="">高端教育</a><span>院校合作</span><span>企业定制</span><span>文化扶贫</span><span>教育信息化</span></li>
					<li><a href="">联系我们</a><span>课程咨询</span><span>合作洽谈</span><span>文化扶贫</span><span>教育信息化</span></li>
				</ul>
				<div class="camp_info">
					<p>公司地址：北京市石景山区阜石路165号院中国华录大厦14层</p>
					<p>邮编 P.C：100043 传真 FAX：（010）52281678 东东007客服电话：400-0097-007</p>
					<p>蓝光业务咨询：86-13810308927</p>
					<p>京ICP备10205992号-3</p>
				</div>
				<div class="ew_img_box">
					<img src="images/ew.png" alt="公司二维码图片" />
					<img style="margin-top:80px;" src="images/jt.png" alt="向上的箭头" />
				</div>
			</div>
		</div>
	</body>
</html>