<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>高端教育</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/about_us.css" />
</head>
<body>
<div class="head2">
    <div class="wrap wrap6">
        <div class="logobox">
            <div class="left">
                <img src="__PUBLIC__/home/images/logo.png" alt="华录文化教育LOGO" />
            </div>
            <div class="right">
                <img src="__PUBLIC__/home/images/by.png" alt="宣传标语" />
                <img src="__PUBLIC__/home/images/phone.png" alt="华录文化教育400服务电话" />
            </div>
        </div>
    </div>
    <div class="nav">
        <ul>
            <li><a href="/index">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
            <li><a href="/about">关于我们</a></li>
            <li><a href="/course">课程设置</a></li>
            <li><a href="/employment">就业体系</a></li>
            <li><a href="/notice">学员须知</a></li>
            <li><a href="/train">高端培训</a></li>
            <li><a href="contact_us.html">联系我们</a></li>
        </ul>
    </div>
</div>
<div class="position">
    <div class="wrap wrap6">
        <div class="pos_con">您当前的位置：<a href="">首页</a>> <a href="">高端教育</a>><a href="">院校合作</a></div>
    </div>
</div>
</div>

<div class="main_content">
    <div class="list_nav">
        <ul>
            <li><a href="/train/">院校合作<span>></span></a></li>
            <li><a href="/train/customEnterprise">企业定制<span>></span></a></li>
            <li class="li_last"><a href="/train/help">文化扶贫<span>></span></a></li>
            <li class="li_last"><a href="/train/information">教育信息化<span>></span></a></li>

        </ul>
    </div>
    <div class="list_con">
        <!--<div class="G20">-->
            <!--<div class="imgbox">-->
                <!--<img src="__PUBLIC__/home/images/about-us3_03.jpg" alt="G20工商峰会开幕式图片" />-->
                <!--<div class="bg"></div>-->
                <!--<div class="info">G20工商峰会开幕式</div>-->
            <!--</div>-->
            <!--<div class="G20_intr">-->
                <!--<p>2016年9月3日，国家领导人习近平出席了G20工商峰会开幕式并发表主旨演讲，并提到了虚拟现实：“创新是从根本上打开增长之锁的钥匙。以互联网为核心的新一轮科技和产业革命蓄势待发，人工智能、虚拟现实等新技术日新月异，虚拟经济与实体经济的结合，将给人们的生产方式和生活方式带来革命性变化。这种变化不会一蹴而就，也不会一帆风顺，需要各国合力推动，在充分放大和加速其正面效应的同时，把可能出现的负面影响降到最低。</p>-->
            <!--</div>-->
            <!--<div class="clear"></div>-->
        <!--</div>-->
        <div>
            <p>作为教育培训的最高平台，华录教育不遗余力地将“注重实战经验传授，关注职业价值提升”理念推广到各大高校，开展了一系列教育项目。将华录文化多年的技能经验和教学经验与在校学生共享，通过实际案例的讲解提高行业实践教育水平。</p></br></br>
        <p>华录教育的院校活动包括：课程置换、项目实训、教师培训、参观交流、校园讲座等项目。高校师生通过各类活动，可接触到华录教育领先的虚拟现实技术，提升专业实践操作。同时可使学生在获得高校学历证书的同时，获得华录教育证书和一线实践操作经验，从而提高学生的就业成功率</p></br></br>
        <p>高校通过与华录教育的院校活动的各项内容互动，可以借助华录教育的强大品牌优势，提升社会美誉度和教学方面的核心竞争力，开拓教师行业视野，也可以提升教学实践技术，扩大招生影响力。</p></br></br></br>
        </div>
        <div class="VR_intro">
            <div class="title_sum">
                <ul>
                    <li class="current"><a href="">课程置换</a></li>
                    <li><a href="">项目实践</a></li>
                    <li><a href="">教师培训</a></li>
                    <li><a href="">参观交流</a></li>
                    <li><a href="">校园讲座</a></li>

                </ul>
            </div>
            <div class="clear"></div>
            <div class="title"><h1>课程置换</h1></div>
            <br class="VR_con_intro">
            <p> 利用华录教育培训课程体系来弥补现有课程体系中实践教学的不足，使高等院校学历教育的理论教学和华录教育职业教育的实践教学相结合，优势互补。使在校学生在文化课学习的同时掌握行业内的专业操作能力，从而紧扣就业市场需求，增强学生的“求职成功指数”。</p></br></br>
             </div>
        </br></br>
        <div class="title"><h1>项目实践</h1></div>
        </br></br>
        <div class="VR_con_intro">
            <p>以华录教育精品技法课程为核心，由华录教育资深讲师授课，将结合面授、项目实践、实训等方式为高校即将毕业的学生提供强化式“魔鬼”训练。以培养国际标准化专业人才为方向，使学生在踏入社会前便接受到国际型跨国公司的项目实训，从而提升就业高度。</p></br></br>
            </div>
        <div class="title"><h1>教师培训</h1></div>
        </br></br>
        <div class="VR_con_intro">
            <p>教师培训项目的每一项课程都经过严谨的设计，使所有参加培训的教师能够系统地了解和掌握国际最新的软件使用理论、方法和技能。所有课程都密切贴近高校教师日常教学的实际情况和具体需求，尤其侧重于互动式教学法。课程形式丰富多样，包括课堂教学，讲座，多媒体辅助教学，指导性自学以及教学实践观摩和考核</p></br></br>
        </div>
        </br></br>
        <div class="title"><h1>参观交流</h1></div>
        </br></br>
        <div class="VR_con_intro">
            <p>      参观交流对高校拓宽视野，创新思维，以及在教学和培养学生实践能力方面都有很好的启发作用。通过对华录教育教学和实践场地、渲染集群设备、摄影棚和剪辑编辑工作室的了解，对高校学科建设、教研活动、图书出版等工作提供了全新的视角和发展动力。</p></br></br>
        </div>
        <div class="title"><h1>校园讲座</h1></div>
        </br></br>
        <div class="VR_con_intro">
            <p>校园讲座将国际领先的交流实践平台引入中国高校，促进高校实践教育的升级和国内VR产业的发展。华录教育校园讲座由众多国内外业界精英现场传授，使得高校师生通过校园讲座了解行业信息，与国际前沿技术接轨。</p></br></br>
        </div>
    </div>

</div>

    </div>

</div>


</div>

<div class="edu_con">
    <div class="wrap">
        <ul>
            <li><img src="__PUBLIC__/home/images/3D1.png" alt="合作伙伴1" /><span>Unity3D开发</span></li>
            <li><img src="__PUBLIC__/home/images/UI1.png" alt="合作伙伴1" /><span>UI设计</span></li>
            <li><img src="__PUBLIC__/home/images/snsj1.png" alt="合作伙伴1" /><span>室内设计</span></li>
            <li><img src="__PUBLIC__/home/images/webqd1.png" alt="合作伙伴1" /><span>web前端设计</span></li>
            <li><img src="__PUBLIC__/home/images/jzzs1.png" alt="合作伙伴1" /><span>建筑展示</span></li>
            <li><img src="__PUBLIC__/home/images/yxmx1.png" alt="合作伙伴1" /><span>游戏模型</span></li>
            <li><img src="__PUBLIC__/home/images/zx1.png" alt="合作伙伴1" /><span>在线咨询</span></li>
        </ul>
    </div>
</div>
<div class="footer">
    <div class="wrap wrap5">
        <ul>

            <li><a href="">关于我们</a><span>品牌介绍</span><span>VR教育</span><span>发展优势</span></li>
            <li><a href="">就业体系</a><span>就业体系</span><span>人才输出</span><span>就业服务</span></li>
            <li><a href="">学员服务</a><span>报名流程</span><span>先学习后付款</span><span>学院地址</span><span>校园环境</span></li>
            <li><a href="">高端教育</a><span>院校合作</span><span>企业定制</span><span>文化扶贫</span><span>教育信息化</span></li>
            <li><a href="">联系我们</a><span>课程咨询</span><span>合作洽谈</span><span>文化扶贫</span><span>教育信息化</span></li>
        </ul>
        <div class="camp_info">
            <p>公司地址：北京市石景山区阜石路165号院中国华录大厦14层</p>
            <p>邮编 P.C：100043 传真 FAX：（010）52281678 东东007客服电话：400-0097-007</p>
            <p>蓝光业务咨询：86-13810308927</p>
            <p>京ICP备10205992号-3</p>
        </div>
        <div class="ew_img_box">
            <img src="__PUBLIC__/home/images/ew.png" alt="公司二维码图片" />
            <img style="margin-top:80px;" src="__PUBLIC__/home/images/jt.png" alt="向上的箭头" />
        </div>
    </div>
</div>
</body>
</html>