<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中国华录集团有限公司首页</title>

</head>
<body>
<!--用户登录弹出层部分-->

<footer>
    <ul class="concat">
        <li>
            <a href="#">联系我们</a>
            <em>|</em>
        </li>
        <li><a href="#">机构简介</a> <em>|</em></li>
        <li>
            <a href="#">网站声明</a>
            <em>|</em>
        </li>
        <li>
            <a href="#">管理路口</a>
        </li>
    </ul>
    <div class="line"></div>
    <p>国务院国有资产监督管理委员会干部教育培训中心</p>
    <p>中国华录集团培训分站</p>
    <p class="eng">Copyright 2009 Education and Trainning Centre for Officials and Entrepreneurs Education Network,SASAC</p>
    <p class="eng">
        <span>地址：北京市东城区安定门外大街56号</span>
        <span> 联系邮箱：service@tcsasac.com</span>
        <span>邮政编码：100011</span>
    </p>
    <p class="eng">
        <span>技术支持：010-64471676 fuwu@tcsasac.com</span>
        <span>QQ客服：3450279420 3443376137</span>
        <span>京ICP备08104266号</span>
    </p>
</footer>


<script>
    function create_code(){
        document.getElementById('code').src = '/user/createVerify?'+Math.random()*10000;
    }
</script>
</body>
</html>