<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中国华录集团有限公司首页</title>
    <link rel="stylesheet" href="__PUBLIC__/home/css/style_home.css"/>
</head>
<body>
<!--head部分-->
<header>
    <ul id="head_1">
        <li>
            <p class="date">2016年 10月31日 星期一</p>
        </li>
        <li>
            <p class="addr">北京</p>
        </li>
        <li>
            <p class="weather">晴 12℃～18℃</p>
        </li>
    </ul>
    <ul id="head_2">
        <li>
            <label for="user">用户名</label>
            <input type="text" id="user"/>
        </li>
        <li class="password">
            <label for="pwd">密码</label>
            <input type="text" id="pwd"/>
        </li>
        <li class="login">
            <div>登录</div>
        </li>
        <li class="regist">
            <div>注册</div>
        </li>
    </ul>
</header>
<!--nan部分-->
<nav>
    <ul>
        <li class="hualu">
            <img src="__PUBLIC__/home/image/nav.png" alt=""/>
        </li>
        <li class="search">
            <input type="text" placeholder="请输入课程关键字"/>
            <span>搜索</span>
        </li>
    </ul>
</nav>
<div id="article">
    <ul class="nav">
        <li class="active">
            <a href="#">首页</a>
        </li>
        <li>
            <a href="#">培训资讯</a>
        </li>
        <li>
            <a href="#">选课</a>
        </li>
        <li>
            <a href="#">学习中心</a>
        </li>
    </ul>
    <div class="title">
        <img src="__PUBLIC__/home/image/toutiao.png" alt=""/>
        <a href="/news/newsInfo?news=<?php echo $home_page['news_id'];?>"><h1>{$home_page.title}</h1></a>
        <ul class="inform">
            <foreach name="little_home" item="vo">
               <a href="/news/newsInfo?news=<?php echo $vo['news_id'];?>"><li>[{$vo.title}]</li></a>
            </foreach>
        </ul>
    </div>
</div>
<div class="banner">
    <ul class="imgList">
        <li style="display:block;"><a href="#"><img src="__PUBLIC__/home/image/img1.png" /></a></li>
        <li><a href="#"><img src="__PUBLIC__/home/image/img2.png" /></a></li>
        <li><a href="#"><img src="__PUBLIC__/home/image/img1.png" /></a></li>
        <li><a href="#"><img src="__PUBLIC__/home/image/img2.png" /></a></li>
        <li><a href="#"><img src="__PUBLIC__/home/image/img1.png" /></a></li>
    </ul>
    <ol class="btnList">
        <li class="current"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
    <div class="section">
        <p class="train">
            <span class="train_1">国资委培训</span>
            <span class="train_2">公司培训</span>
        </p>
        <ul class="news">
            <foreach name="master_news" item="vo">
                <li>
                    <i></i>
                    <p>
                       <a href="/news/newsInfo?news=<?php echo $vo['news_id'];?>"><span>{$vo.title}</span></a>
                    </p>
                </li>
            </foreach>

            <li class="down">
                <span>更多&gt;&gt;</span>
            </li>
        </ul>
    </div>
</div>
<div id="hot">
    <h1>
        热门课程
    </h1>
    <ul class="learn">
        <foreach name="hot_cse" item="vo">
            <li>
                <img src="<?php print_r($vo['cover']);?>"  height="147" width="224" alt=""/>
                <div class="hour">{$vo.os_cn}</div>
                <h4>{$vo.name}</h4>
                <div class="btn">
               <span class="btn_1">
                    <img src="<?php ($vo['is_pub'] == 1) ? print_r('__PUBLIC__/home/image/gongkai.png') : print_r('__PUBLIC__/home/image/neixun.png');?>" alt=""/>
                </span>
                <span class="btn_2">
                   <a href="/course/register?course_id=<?php echo $vo['course_id'];?>"> <img src="__PUBLIC__/home/image/baoming.png" alt=""/></a>
                </span>
                </div>
            </li>
        </foreach>

    </ul>
</div>
<div id="advice">
    <h1>推荐课程</h1>
    <ul class="toggle">
        <li class="active" id="study_1"><a href="#">党建党史</a></li>
        <li class="net" id="study_2"><a href="#">企业管理</a></li>
        <li class="net" id="study_3"><a href="#">企业文化</a></li>
        <li class="net" id="study_4"><a href="#">职场办公</a></li>
        <li class="net" id="study_5"><a href="#">专业技能</a></li>
    </ul>
    <span>更多&gt;&gt;</span>
</div>
<div id="course">
    <ul class="learn learn_1" style="display: block">
        <li>
            <img src="__PUBLIC__/home/image/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="__PUBLIC__/home/image/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="__PUBLIC__/home/image/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="__PUBLIC__/home/image/learn_07.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
                <span class="btn_1">
                    <img src="__PUBLIC__/home/image/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="__PUBLIC__/home/image/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_09.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
                <span class="btn_1">
                    <img src="__PUBLIC__/home/image/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="__PUBLIC__/home/image/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="__PUBLIC__/home/image/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
                <span class="btn_1">
                    <img src="__PUBLIC__/home/image/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="__PUBLIC__/home/image/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="__PUBLIC__/home/image/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="__PUBLIC__/home/image/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="__PUBLIC__/home/image/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="__PUBLIC__/home/image/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="__PUBLIC__/home/image/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="__PUBLIC__/home/image/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="__PUBLIC__/home/image/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="__PUBLIC__/home/image/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="__PUBLIC__/home/image/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
    </ul>
    <ul class="learn learn_2">
        <li>
            <img src="img/image_index/learn_07.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_07.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
                <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_09.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
                <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
                <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
    </ul>
    <ul class="learn learn_3">
        <li>
            <img src="img/image_index/learn_09.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_07.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
                <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_09.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
                <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
                <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
    </ul>
    <ul class="learn learn_4">
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_07.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
                <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_09.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
                <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
                <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
    </ul>
    <ul class="learn learn_5">
        <li>
            <img src="img/image_index/learn_07.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_07.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
                <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_09.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
                <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
                <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
        <li>
            <img src="img/image_index/learn_03.png" alt=""/>
            <div class="hour">最新上线( 共23节课 )</div>
            <h4>社交基本礼仪</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="img/image_index/gongkai.png" alt=""/>
                </span>
                <span class="btn_2">
                    <img src="img/image_index/baoming.png" alt=""/>
                </span>
            </div>
        </li>
    </ul>
</div>
<footer>
    <ul class="concat">
        <li>
            <a href="#">联系我们</a>
            <em>|</em>
        </li>
        <li><a href="#">机构简介</a> <em>|</em></li>
        <li>
            <a href="#">网站声明</a>
            <em>|</em>
        </li>
        <li>
            <a href="#">管理路口</a>
        </li>
    </ul>
    <div class="line"></div>
    <p>国务院国有资产监督管理委员会干部教育培训中心</p>
    <p>中国华录集团培训分站</p>
    <p class="eng">Copyright 2009 Education and Trainning Centre for Officials and Entrepreneurs Education Network,SASAC</p>
    <p class="eng">
        <span>地址：北京市东城区安定门外大街56号</span>
        <span> 联系邮箱：service@tcsasac.com</span>
        <span>邮政编码：100011</span>
    </p>
    <p class="eng">
        <span>技术支持：010-64471676 fuwu@tcsasac.com</span>
        <span>QQ客服：3450279420 3443376137</span>
        <span>京ICP备08104266号</span>
    </p>
</footer>
<script src="__PUBLIC__/home/js/jquery-1.11.3.js"></script>
<script src="__PUBLIC__/home/js/index.js"></script>
<script src="__PUBLIC__/home/js/html5shiv.min.js"></script>
</body>
</html>