<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>华录文化管理后台</title>
  
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="__PUBLIC__/admin/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/stylesheet.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/index.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/icon/font-awesome.css" rel="stylesheet">
    

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="__PUBLIC__/admin/img/apple-touch-icon-144-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="__PUBLIC__/admin/img/apple-touch-icon-114-precomposed.html">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="__PUBLIC__/admin/img/apple-touch-icon-72-precomposed.html">
                    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/admin/img/apple-touch-icon-57-precomposed.html">
                                  

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="__PUBLIC__/admin/js/WdatePicker.js"></script>
    <![endif]-->
    
  </head>

  <body>

    
    <div id="content"> <!-- Content start -->
      <div class="inner_content">
          <div class="widgets_area">
                <div class="row-fluid">
                    <div class="span12">
                         <div  class="daohanglink"style="">
                           <span class="daohang"></span>
                           <span>首页</span><span>></span>
                           <span>学员管理</span><span>></span>
                           <span>管理学员</span>
                           
                         </div>
                        <div class="well brown">
                         <form action="/admin/student/doAddStudent" method="post" enctype="multipart/form-data">
                            <div class="form_list"><label class="lable_title">姓名</label><input id="name" name="name" class="form_input" type="text" value={$data.name}></div>

                              <div class="form_list"><label  class="lable_title">头像</label>
                                <input type="file" name="uploadFile" class="file" id="file" />
                                  </div>
                             <div><img src="<?php print_r($data['avatar']);?>" />
                              </div>
</br>
                             <div class="form_list"><label class="lable_title">
                                 性别
                             </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <input type="radio" name="gender" value="1">男
                                 <input type="radio" name="gender" value="0">女
                             </div>
                             <div class="form_list"><label class="lable_title">邮箱</label>
                                 <input id="email" name="email" class="form_input" type="text" value={$data.email}>
                             </div>
                             <div class="form_list"><label class="lable_title">生日</label>
                                 <input  name="birthday" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="form_input" type="text" value={$data.birthday}>
                             </div>

                             <div class="form_list"><label class="lable_title">手机</label>
                                 <input id="mobile" name="mobile" class="form_input" type="text" value={$data.mobile}>
                             </div>


                             <div class="form_list"><label class="lable_title">民族</label>
                            <select id="ethnic" name="ethnic"  style="width:150px; margin-left:15px;">
                              <option value="">请选择民族</option>
                                <volist name='ethnic_list' id='vo' key="k">
                                    <option value="<?php print($k); ?>" >{$vo}</option>
                                </volist>

                            </select>
                                    </div>

                             <div class="form_list"><label class="lable_title">地址</label>
                                 <input id="address" name="address" class="form_input" type="text" value={$data.address}>
                             </div>

                             <div class="form_list"><label class="lable_title">职务</label>
                                 <input id="duties" name="job_position" class="form_input" type="text" value={$data.job_position}>

                             </div>


                             </br>
                             <div class="form_list"><label class="lable_title">单位</label>
                                 <input id="unit" name="unit" class="form_input" type="text" value={$data.unit}>
                             </div>
                             <div class="form_list"><label class="lable_title">备注</label>
                                 <textarea id="intro" name="remark" class="form_input" type="text" value={$data.remark}>
                                     </textarea>
                             </div>


                            <!--<div class="form_list"><label class="lable_title">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label><input class="form_input" type="text"/></div>-->
                            <!--<div class="form_list"><label class="lable_title">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="sex">&nbsp;&nbsp;男&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="sex">&nbsp;&nbsp;女</div>-->
                            <!--&lt;!&ndash;<div class="form_list"><label class="lable_title">手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机</label><input class="form_input" type="text"/></div>&ndash;&gt;-->
                            <!--<div class="form_list"><label class="lable_title">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="zhuangtai">&nbsp;&nbsp;启用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="zhuangtai">&nbsp;&nbsp;禁用</div>-->
                             <!--<div class="form_list"><label class="lable_title">排&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;序</label><input class="form_input" type="text"/></div>-->
                             <!--<div><textarea name="contents" id="myEditor">{$data.content}</textarea></div>-->
                             <div class="form_list"><input type="submit" class="submit" value="&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;"></div>
                             <input type="hidden" name="op_type" value="{$op_type}" />
                             <input type="hidden" name="student_id" value="{$data.student_id}" />
                         </form>
                           

                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="__PUBLIC__/admin/js/jquery-1.10.2.js"></script>
    <script src="__PUBLIC__/admin/js/jquery-ui-1.10.3.js"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.js"></script>
    <script src="__PUBLIC__/admin/js/WdatePicker.js"></script>
    <script src="__PUBLIC__/admin/js/flatpoint_core.js"></script>
    <script src="__PUBLIC__/admin/js/library/editor_baidu/ueditor.config.js"  charset="utf-8"></script>
    <script src="__PUBLIC__/admin/js/library/editor_baidu/lang/zh-cn/zh-cn.js"  charset="utf-8"></script>
    <script src="__PUBLIC__/admin/js/library/editor_baidu/ueditor.all.min.js"  charset="utf-8"></script>
    <script type="text/javascript">
        var editor = new UE.ui.Editor();
        editor.render("myEditor");
    </script>
    <script type="text/javascript">
        function uploadimg() {
            $.ajaxFileUpload({
                url: "/admin/news/uploadImg",
                secureuri:false,
                fileElementId:'uploadFile',
                dataType: "text",
                success : function(msg) {
                    var src = 0;
                    var imgUrl = "/";
                    arr = msg.split("|");
                    if (arr[0] == "error") {
                        alert(arr[1]);
                        return;
                    }
                    $("#news_img").attr("src", imgUrl + arr[1]);
                    $("#profile").val(arr[1]);
                },
                error : function(msg) {
                    alert("头像上传失败");
                }
            })
        }

    </script>

  </body>
</html>
