<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>华录文化管理后台</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="../../Public/admin/css/bootstrap.css" rel="stylesheet">
    <link href="../../Public/admin/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../../Public/admin/css/stylesheet.css" rel="stylesheet">
    <link href="../../Public/admin/css/index.css" rel="stylesheet">
    <link href="../../Public/admin/icon/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../Public/admin/css/uploadify.css">

      <script src="../../Public/admin/js/html5shiv.min.js"></script>
      <script src="../../Public/admin/js/jquery-1.10.2.js"></script>
      <script src="../../Public/admin/js/common.js"></script>
      <script src="../../Public/admin/js/jquery.uploadify.min.js" ></script>

      <script type="text/javascript" src="../../Public/admin/js/library/editor_baidu/ueditor.config.js"  charset="utf-8"></script>

      <script type="text/javascript" src="../../Public/admin/js/library/editor_baidu/ueditor.all.min.js"  charset="utf-8"></script>
  </head>

  <body>

    
    <div id="content"> <!-- Content start -->
      <div class="inner_content">
          <div class="widgets_area">
                <div class="row-fluid">
                    <div class="span12">
                         <div  class="daohanglink"style="">
                           <span class="daohang"></span>
                             <a href="/admin">首页</a><span>></span>
                             <a href="/admin/news/">资讯管理</a><span>></span>
                           <span>添加新闻</span>
                           
                         </div>
                        <div class="well brown">
                         <form enctype="multipart/form-data">
                            <div class="form_list"><label class="lable_title">新闻标题</label><input id="title" name="title" class="form_input" type="text" value={$data.title}></div>

                             <div class="form_list"><label class="lable_title">新闻简述</label><input id="title_format" name="title_format" class="form_input" type="text" value={$data.title_format}></div>

                              <div class="form_list"><label  class="lable_title">封面图片</label>
                              </div>

                             <div class="cover">
                                 <img src="<?php print_r($data['cover']);?>" style="width: 360px;height: 200px;margin-top: -7px;margin-left: 61px;"/>
                                 <input type="hidden" >
                             </div>
                             <div class="upload">

                                 <form>
                                     <div id="queue"></div>
                                     <input id="uploadify" name="uploadify" type="file" multiple="true">
                                     <p>
                                         <a href="javascript:jQuery('#uploadify').uploadify('upload','*');">上传</a>|
                                         <a href="javascript:jQuery('#uploadify').uploadify('ClearQueue','*');">取消上传</a>|
                                     </p>
                                 </form>
                             </div>

                             <div class="form_list"><label class="lable_title">新闻类型</label>
                            <select id="type" name="type" value="{$data['type']}" style="width:150px; margin-left:15px;">
                              <option value="">请选择类型</option>
                                <volist name='news_type' id='vo' key="k">
                                    <option value="<?php print($k); ?>" >{$vo}</option>
                                </volist>
                            </select>
                                    </div>

                             <div class="form_list"><label class="lable_title">所属分站</label>
                                 <select id="subsite_id" name="subsite_id" value="{$data.subsite_id}" style="width:150px; margin-left:15px;">
                                     <option value="">请选择所属分站</option>
                                     <volist name='sub_list' id='vo' key="k">
                                         <option value="{$vo.subsite_id}" >{$vo.name}</option>
                                     </volist>
                                 </select>
                             </div>
                             <div class="form_list"><label class="lable_title">资讯内容</label>
                                 </div>

                             <div><textarea name="contents" id="myEditor">{$data.content}</textarea></div>
                             <div class="form_list"><input type="submit" class="submit" value="&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;"></div>
                             <input id="news_id" type="hidden" name="news_id" value="{$data.news_id}" />
                         </form>
                           

                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script type="text/javascript">
        var editor = new UE.ui.Editor();
        editor.render("myEditor");
    </script>

  <script type="text/javascript">
      $(function() {
          var n_type = $('#type').attr('value');
          var sub_site = $('#subsite_id').attr('value');
          if (n_type) {
              $('#type option[value=' + n_type + ']').attr('selected', 'true');
          }
          if(sub_site){
              $('#subsite_id option[value='+sub_site+']').attr('selected','true');
          }




          $('.submit').click(function(){
              var params = $('form').serialize();

              if(type = $('#type').val()){
                  params += '&type='+type;
              }else {
                  alert('类型不能为空');
              }
              var contents =  UE.getEditor('myEditor').getContent();
              params += '&contents='+contents;

              //当新闻id有值时操作类型为更新
              if(news_id = $('#news_id').attr('value')){
                  params += '&op_type=1';
                  params += '&news_id='+news_id;
              }

              if(cover = $('.cover img').attr('value')){
                  params += '&cover='+cover;
              }


              $.post(BASE_URL+'/admin/news/doAddNews',params,function(response){
                  if(response.code == 10000){
                      alert('操作成功');
                      location.href = BASE_URL+'/admin/news';
                  }else {
                      alert(response.msg);
                  }
              });
          })




          $('#uploadify').uploadify({
              'formData': {
                  'timestamp': new Date().getTime(),
                  'token': '<?php echo md5(' + unique_salt + ' . $timestamp);?>',
                  'type': '3',
              },
              'swf': '/Public/admin/js/uploadify.swf',//swf路径
              'uploader': '/admin/course/upload',//处理文件的服务器地址
              'filesSelected': '1',//同时选择文件的个数
              'uploadLimit': '30',//选择文件的总数
              'method': 'post',
              'auto': false,
              'multi': true,
              'width': '120',
              'height': '40',
              'cancelImg': '/Public/admin/image/uploadify-cancel.png',
              'buttonText': '请选择图片',
              'fileObjName': 'uploadFile',
              'fileSizeLimit': '0',
              'onUploadSuccess': function (file, data, response) {
                  var obj = eval('(' + data + ')');

                  if (obj.code !== 10000)
                      alert(obj.msg);
                  else if (img_url = obj.result.path) {
                      $('.cover img').attr({src:BASE_URL+'/'+img_url,value:img_url});
                  }

              }


          })
      })
  </script>
  </body>
</html>
