<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>华录文化管理后台</title>
  
    <meta name="description" content="">
    <meta name="author" content="">
      <script src="../../Public/admin/js/jquery-1.10.2.js"></script>
      <script src="../../Public/admin/js/common.js" type="text/javascript"></script>
      <script src="../../Public/admin/js/WdatePicker.js"></script>
    <!-- Le styles -->
    <link href="../../Public/admin/css/bootstrap.css" rel="stylesheet">
    <link href="../../Public/admin/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../../Public/admin/css/stylesheet.css" rel="stylesheet">
    <link href="../../Public/admin/css/index.css" rel="stylesheet">
      <link href="../../Public/admin/css/checkbox.css" rel="stylesheet">
    <link href="../../Public/admin/icon/font-awesome.css" rel="stylesheet">
      <script src="../../Public/admin/js/jquery.uploadify.min.js" ></script>
      <link rel="stylesheet" type="text/css" href="../../Public/admin/css/uploadify.css">
      <script src="../../Public/admin/js/html5shiv.min.js"></script>

      <style>
        div.form_list label{
            width:80px;
        }
         #video,#study_file{
              height: 130px;
              overflow: auto;
          }
          .video{
              height: 150px;
          }

      </style>
  </head>

  <body>

    <div id="content"> <!-- Content start -->
      <div class="inner_content">
          <div class="widgets_area">
                <div class="row-fluid">
                    <div class="span12">
                         <div  class="daohanglink"style="">
                           <span class="daohang"></span>
                           <a href="/admin">首页</a><span>></span>
                           <a href="/admin/course">课程管理</a><span>></span>
                           <a href="/admin/news/addNews">添加课程</a>

                         </div>
                        <div class="well brown">
                         <form>

                            <div class="form_list"><label class="lable_title">课程名称</label><input id="name" name="name" class="form_input" type="text" value={$data.name}></div>
                             <div class="form_list"><label class="lable_title">课程简介</label><input id="intro" name="intro" class="form_input" type="text" value={$data.intro}></div>

                              <div class="form_list" ><label  class="lable_title">课程封面</label>
                              </div>
                             <div class="cover">
                                 <img src="<?php print_r($data['cover']);?>" style="width: 360px;height: 200px;margin-top: -7px;margin-left: 61px;"/>
                             </div>
                             <div class="upload">
                                     <div id="queue"></div>
                                     <input id="uploadify" name="uploadify" type="file" multiple="true">
                                     <p>
                                         <a href="javascript:jQuery('#uploadify').uploadify('upload','*');">上传</a>|
                                         <a href="javascript:jQuery('#uploadify').uploadify('ClearQueue','*');">取消上传</a>|
                                     </p>
                             </div>


                             <div class="form_list" id="is_pub" ><label class="lable_title" >
                                 课程类别
                             </label>
                                 <input type="radio" name="is_pub" value="1">公开
                                 <input type="radio" name="is_pub" value="2">内训
                             </div>
                             <div class="form_list"><label class="lable_title">课程价格</label>
                                 <input id="price" name="price" class="form_input" type="text" value={$data.price}>
                             </div>

                             <div class="form_list"><label class="lable_title">课程方向</label>
                                 <select id="cse_dir" name="cse_dir"  style="width:150px; margin-left:15px;">
                                     <option value="">请选择方向</option>
                                     <foreach name="cse_dir" item="vo">
                                         <option value="{$vo.cd_id}" >{$vo.name}</option>
                                     </foreach>

                                 </select>
                             </div>
                             <div class="form_list"><label class="lable_title" >课程分类</label>
                                 <select name="cse_type" id="kind" style="width:150px; margin-left:15px;"></select>
                             </div>

                             <div class="form_list" id="is_recommend"><label class="lable_title">课程类型</label>
                                 <input type="radio" name="is_recommend" value="2">热门课程
                                 <input type="radio" name="is_recommend" value="1">推荐课程
                             </div>

                             <div class="form_list"><label class="lable_title">授课老师</label>
                                 <select id="teacher_id" name="teacher_id"  style="width:150px; margin-left:15px;">
                                     <option value="">请选择老师</option>
                                     <foreach name="tea_list" item="vo">
                                         <option value="{$vo.teacher_id}" >{$vo.name}</option>
                                     </foreach>

                                 </select>
                             </div>
                             <div class="form_list"><label class="lable_title">报名截至时间</label>
                                 <input  onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="enroll_time" class="form_input" type="text" value={$data.enroll_time}>
                             </div>
                             <div class="form_list"><label class="lable_title">课程结束时间</label>
                                 <input onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="end_time" class="form_input" type="text" value={$data.end_time}>
                             </div>

                             <div class="form_list video"><label class="lable_title">关联视频</label>
                                 <textarea class="acity"  id="video" ></textarea>
                             </div>

                             <div class="form_list video"><label class="lable_title">关联资料</label>
                                 <textarea class="acity"  id="study_file"></textarea>
                             </div>

                             <div class="city video">
                                 <div class="top01-city"  >
                                     <em class="ok">确定</em><b >请选择相关视频课件</b>
                                 </div>
                                 <div class="mid01-city">
                                     <div class="cityshow" id="show">
                                         <i>已选课件:</i>
                                         <ul></ul>
                                     </div>
                                     <div class="cityshow1" id="show1">
                                         <tr><td colspan="2"><i>未选课件:</i></td></tr>
                                         <tr><td>
                                             <ul class="cityul">
                                                 <li>
                                                     <foreach name="video" item="vo">
                                                         <a><b value="{$vo.resource_id}">{$vo.name}</b></a>
                                                     </foreach>
                                                 </li>
                                             </ul></td>
                                         </tr>

                                         </table>
                                     </div>
                                 </div>
                             </div>
                             <div class="city study_file">
                                 <div class="top01-city"  >
                                     <em class="ok">确定</em><b >请选择相关学习资料</b>
                                 </div>
                                 <div class="mid01-city">
                                     <div class="cityshow" id="file_show">
                                         <i>已选资料:</i>
                                         <ul></ul>
                                     </div>
                                     <div class="cityshow1">
                                         <tr><td colspan="2"><i>未选资料:</i></td></tr>
                                         <tr><td>
                                             <ul class="cityul">
                                                 <li>
                                                     <foreach name="study_file" item="vo">
                                                         <a><b value="{$vo.resource_id}">{$vo.name}</b></a>
                                                     </foreach>
                                                 </li>
                                             </ul></td>
                                         </tr>

                                         </table>
                                     </div>
                                 </div>
                             </div>
                             <div class="form_list"><input style="margin-left: 180px; float: left; width: 60px; cursor:pointer;" class="submit" value="&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;"></div>
                             <input type="hidden" id="course_id" name="course_id" value="{$data.course_id}" />
                         </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(function(){

            //选择视频和资料相关js操作
            $('#video').click(function(){
                str = $(this).val();
                if(str){
                    var res_id = $(this).attr('course_ve').split(',');
                    $.each(str.split(','),function(i,n) {
                        $('<li class="licity li_video" ><input name="checked" type="checkbox" value="'+res_id[i]+'" checked="true"   class="check"><b>' + n+ '</b></li>').appendTo('#show ul');
                    });

                }

                $('.video').show();
                $('.city').attr('type',1);
            });
            $('#study_file').click(function(){
                str = $(this).val();
                if(str){
                    var res_id = $(this).attr('course_file').split(',');
                    $.each(str.split(','),function(i,n) {
                        $('<li class="licity li_file" ><input name="checked" type="checkbox" value="'+res_id[i]+'" checked="true"   class="check"><b>' + n+ '</b></li>').appendTo('#file_show ul');
                    });

                }


                $('.study_file').show();
                $('.city').attr('type',0);
            });
            $('.cityul b').click(function(){
                var test=$(this).html();

                var value=$(this).attr("value");
                if( $('input[value="'+ value +'"]').size()){
                    $('input[value="'+ value +'"]').parent().remove();
                } else {
                    var ml=$('.cityshow li').length;
                    if(ml>10){
                        alert('最多只能添加10个');
                    }else{
                        var test=$(this).html();
                        if($('.city').attr('type') == 1){
                            $('<li class="licity li_video" ><input name="checked" type="checkbox" checked="true" value="'+ value +'" class="check"><b>'+test+'</b></li>').appendTo('#show ul');
                        }else {
                            $('<li class="licity li_file" ><input name="checked" type="checkbox" checked="true" value="'+ value +'" class="check"><b>'+test+'</b></li>').appendTo('#file_show ul');
                        }

                    }
                }

            });



            $('.ok').click(function(){

                var total="";
                var value = '';
                if($('.cityshow ul li').text()=='')
                {
                    $('.city').hide();
                }else{

                    if($('.city').attr('type') == 1){
                        $.each($('#show ul li'),function(i,n){
                            total += (total.length > 0 ? "\r\n" : "" ) + $(this).text();
                        });

                        $.each($(".li_video input"),function (i,n) {
                            value += (value.length > 0 ? ',' : '') + $(n).attr('value');
                        })

                        $('#video').val(total);
                        $('#video').attr('course_ve',value);
                    }else {
                        $('#file_show ul li').each(function(){
                            total += (total.length > 0 ? "\r\n" : "" ) + $(this).text();
                        });

                        $.each($(".li_file input"),function (i,n) {
                            value += (value.length > 0 ? ',' : '') + $(n).attr('value');
                        })
                        $('#study_file').val(total);
                        $('#study_file').attr('course_file',value);
                    }

                    $('.city').hide();
                }

            })



            //根据课程方向获取课程类型
            function selDir(val){
                $("#kind").html("");
                var request={
                    cd_id :val
                };
                $.post(BASE_URL+"/admin/course/getCseType",request,function(response){

                    $.each(response.result,function(i,n){
                        var option=$("<option value="+ n.ct_id +">"+n.name+"</option>");
                        $("#kind").append(option);
                    });

                })
            }


            //当为修改内容时根据数据渲染数据
            var data = '<?php echo $data_json;?>';

            if(data){
                var obj = new Function("return" + data)();

                $("#is_pub input[value="+obj.is_pub+"]").attr("checked","true");
                $("#is_recommend input[value="+obj.is_recommend+"]").attr("checked","true");
                $('#teacher_id option[value=' +obj.teacher_id + ']').attr('selected','true');
                if(obj.cse_type){
                    $("#cse_dir option[value="+obj.cse_type.cd_id+"]").attr("selected","true");
                    selDir(obj.cse_type.cd_id)
                }

                if(obj.cse_video){
                    var ve_str="";
                    var ve_res_id="";

                    $.each(obj.cse_video,function(i,n){
                        ve_str += (n.name+',' + '\r\n');
                        ve_res_id += (n.resource_id+',')
                    });

                    $("#video").val(ve_str);
                    $("#video").attr("course_ve",ve_res_id);

                }

                if(obj.cse_file){
                    var fi_str="";
                    var fi_res_id="";
                    $.each(obj.cse_file,function(i,n){
                        fi_str += (n.name+','+'\r\n');
                        fi_res_id += (n.resource_id+',')
                    });
                    $("#study_file").val(fi_str);
                    $("#study_file").attr("course_file",fi_res_id);
                }


            }

            $("#cse_dir").change(function(){
                var val=$(this).attr("value");
               selDir(val);
            })


            $('.submit').click(function(){
                var course_ve = $('#video').attr('course_ve');
                var course_file = $('#study_file').attr('course_file');
                var params = $('form').serialize();

                if(course_ve || course_file){
                    if(!course_ve){
                        course_ve = '';
                    }
                    if(!course_file){
                        course_file = '';
                    }
                    params += '&resource_id='+course_ve+','+course_file;
                }

                //当课程id有值时操作类型为更新
                if(course_id = $('#course_id').attr('value')){
                    params += '&op_type=1';
                    params += '&course_id='+course_id;
                }

                if(cover =  $('.cover img').attr('value')){
                    params += '&cover='+cover;
                }

                $.post(BASE_URL+'/admin/course/doAddCourse',params,function(response){
                    if(response.code == 10000){
                        alert('操作成功');
                        location.href = BASE_URL+'/admin/course';
                    }else {
                        alert(response.msg);
                    }
                });
            })

        })
    </script>
    <script type="text/javascript">

        $(function() {
            $('#uploadify').uploadify({
                'formData'     : {
                    'timestamp' : new Date().getTime(),
                    'token'     : '<?php echo md5('+unique_salt+' . $timestamp);?>',
                    'type'     : '3',
                },
                'swf'      : '/Public/admin/js/uploadify.swf',//swf路径
                'uploader' : '/admin/course/upload',//处理文件的服务器地址
                'filesSelected' : '1',//同时选择文件的个数
                'uploadLimit' : '30',//选择文件的总数
                'method' : 'post',
                'auto' : false,
                'multi' : true,
                'width' :　 '120',
                'height' : '40',
                'cancelImg' : '/Public/admin/image/uploadify-cancel.png',
                'buttonText': '请选择图片',
                'fileObjName' : 'uploadFile',
                'fileSizeLimit' : '0',
                'onUploadSuccess': function (file, data, response) {
                    var obj = eval('(' + data + ')');

                    if (obj.code !== 10000)
                        alert(obj.msg);
                    else
                       if(img_url = obj.result.path){
                           $('.cover img').attr('src',BASE_URL+'/'+img_url);
                           $('.cover img').attr('value',img_url);
                       }

                }


//
            });

        });
    </script>
  </body>
</html>
