<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>华录文化管理后台</title>
  
    <meta name="description" content="">
    <meta name="author" content="">

      <!-- Le styles -->
      <link href="../../Public/admin/css/bootstrap.css" rel="stylesheet">
      <link href="../../Public/admin/css/bootstrap-responsive.css" rel="stylesheet">
      <link href="../../Public/admin/css/stylesheet.css" rel="stylesheet">
      <link href="../../Public/admin/icon/font-awesome.css" rel="stylesheet">
      <link href="../../Public/admin/css/style.css" rel="stylesheet">

      <!--分页加载的Js-->
      <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">

      <script src="../../Public/admin/js/html5shiv.js"></script>
      <script src="../../Public/admin/js/jquery-1.10.2.js"></script>
      <script src="../../Public/admin/js/common.js"></script>
    <style type="text/css">
    .input{ width:40px;
	text-align:center;}
	.daohanglink{
		height:40px; line-height:40px; vertical-align:middle; width:100%;
		background-color:rgb(248,248,248);
		margin-bottom:15px;
		}
	.daohanglink span{
		margin-left:5px;}
	.daohang{
	float: left;
	height: 15px;
	width: 5px;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #036;
	margin-top:12px;
	margin-left:15px;
		}
    </style>
  </head>

  <body>

    
    <div id="content"> <!-- Content start -->
      <div class="inner_content">
          <div class="widgets_area">
                <div class="row-fluid">
                    <div class="span12">
                         <div  class="daohanglink"style="">
                           <span class="daohang"></span>
                             <a href="/admin">首页</a><span>></span>
                             <a href="/admin/course">课件管理</a><span>></span>
                           <span>课件管理</span>
                           <a  href="/admin/course/addVideo" class="label label-warning"  style="float:right; margin:12px;">添加课件</a>
                         </div>
                        <div class="well brown">
                            
                           
                            <div class="well-content" style="border:0px ; display:block;">
                                <table class="table table-striped table-bordered table-hover datatable" >
                                    <thead>
                                        <tr>
                                            <!--<th width="5%">排序</th>-->
                                            <th width="4%">课件ID</th>
                                            <th width="20%">课件名称</th>
                                            <th width="6%">时长</th>
                                            <th width="10%">课件备注</th>
                                            <th width="10%">课件状态</th>
                                            <th width="14%">添加时间</th>
                                            <th width="15%">所属分站</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <foreach name="ware_list" item="vo">
                                    <tr>
                                        <td>{$vo.resource_id}</td>
                                        <td>{$vo.name}</td>
                                        <td>{$vo.duration}</td>
                                        <td>{$vo.remark}</td>
                                        <td>
                                            <if condition="($vo['status'] eq 1)">已关联课程
                                                <else />未关联课程
                                            </if>
                                        </td>
                                        <td>{$vo.ctime}</td>
                                        <td>{$vo.subsite_name}</td>
                                        <td>
                                            <a class="btn" href="<?php echo $vo['file_path'];?>" title="下载"><i >下载</i></a>
                                            <a class="btn" href="/admin/course/delResource?resource_id=<?php echo $vo['resource_id'];?>" title="删除"><i class="icon-trash"></i></a>
                                            <!--<a class="btn" href="#" title="查看"><i class="icon-exclamation"></i></a>-->
                                        </td>
                                        </foreach>

                                    </tr></tbody>
                                    </tbody>
                                    </table>
                                <div class="pagination">
                                    　　{$page_arr}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>



  </body>
</html>
