<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>就业体系</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/style.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/about_us.css" />
	</head>
	<body>
		<div class="head2">
			<div class="wrap wrap6">
				<div class="logobox">
					<div class="left">
						<img src="__PUBLIC__/home/images/logo.png" alt="华录文化教育LOGO" />
					</div>
					<div class="right">
						<img src="__PUBLIC__/home/images/by.png" alt="宣传标语" />
						<img src="__PUBLIC__/home/images/phone.png" alt="华录文化教育400服务电话" />
					</div>
				</div>
			</div>
			<div class="nav">
                <ul>
                    <li><a href="/index">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
                    <li><a href="/about">关于我们</a></li>
                    <li><a href="/course">课程设置</a></li>
                    <li><a href="/employment">就业体系</a></li>
                    <li><a href="/notice">学员须知</a></li>
                    <li><a href="/train">高端培训</a></li>
                    <li><a href="contact_us.html">联系我们</a></li>
                </ul>
			</div>
			<div class="position">
				<div class="wrap wrap6">
					<div class="pos_con">您当前的位置：<a href="">首页</a>> <a href="">就业体系</a>><a href="">人才输送</a></div>
				</div>
			</div>
		</div>

		<div class="main_content">			
			<div class="list_nav">
                <ul>
                    <li><a href="/employment/index/">就业体系<span>></span></a></li>
                    <li><a href="/employment/deliver/">人才输送<span>></span></a></li>
                    <li><a href="/employment/service/">就业服务<span>></span></a></li>
                    <li><a href="/employment/cooperate/">人才合作<span>></span></a></li>
                    <li class="li_last"><a href="/employment/star/">就业明星<span>></span></a></li>
                </ul>
			</div>
		
			<div class="list_con">
				<div  style="color: #083090; font-size: 30px; margin: 40px 0;"> 华录教育，规划、培训、就业一条龙服务，给你最可靠的就业承诺！</div>
				<p>华录教育不但拥有遍布全国的就业支持网，更是和国内各大知名企业均签订有人才输送协议，稳定输送人才。为了更好更快地促进学员就业，就业指导中心除了举办各种形式的招聘会，更能够采取各种渠道为学生提供就业岗位，保证学生及时就业。</p>
				<p></p>
				<p></p>
				<div class="VR_intro">
					<div class="title_sum">
						<ul>
							<li class="current"><a href="">就业推荐</a></li>
							<li><a href="">招聘会</a></li>
							<li><a href="">创业扶持</a></li>
							<li><a href="">就业跟踪</a></li>
						</ul>
					</div>
					<div class="clear"></div>
					<div class="title"><h1>就业推荐</h1></div>
					<div class="list_con_intro">
						<div class="intro_con">
							<p><span>华录内部直荐</span>&nbsp;&nbsp;&nbsp;&nbsp;华录集团控股企业七十四家，上市公司两家，参股企业八家。具备大量的用人需求，优秀学员可内部直荐在华录工作。</p>
						</div>
						<div class="intro_con">
							<p><span>合作企业内</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;华录教育作为中国最高的文化教育平台，与众多大小企业均签订人才合作协议，定期内推、直荐部分优秀学员毕业后直接
								 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								工作，做到学员、机构、公司三赢局面。</p>
							<p></p>
							<br />
						</div>
						<div class="intro_con">
							<p><span>全国推荐就业</span>&nbsp;&nbsp;&nbsp;&nbsp;华录教育有遍布全国的就业支持网。可根据学生自身愿望需求，推荐合适地区；根据学院综合素质水准，推荐合适公司；
								 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								根据学员技能水平评测，推荐适合岗位。</p>
						</div>
					</div>
					<div class="title"><h1>招聘会</h1></div>
					<div class="VR_con_intro">
						<p>根据自身情况和行业需求制定每个人的学习课程项目、职业人生规划。</p>
						<p></p>
					</div>
					<div class="title"><h1>创业扶持</h1></div>
					<div class="VR_con_intro">
						<p>在教育局的大力号召下，华录教育提供帮扶计划，资深技术专家亲临一对一指导创业。</p>
						<p></p>
					</div>
					<div class="title"><h1>就业跟踪</h1></div>
					<div class="VR_con_intro">
						<p>学员就业后。就业指导中心将不定期进行就业回访和记录，了解学员的工作情况，进行就业跟踪服务。以此建立强大的高级人才数据库，满足企业更高端的用人需求。</p>
						<p></p>
						<p>学员工作几年后，如果需要更大更广阔的职业空间，可以随时回华录教育咨询。就业指导中心将帮助学员推荐更好的就业机会。</p>
						<p></p>
					</div>
			</div>
			
		</div>
		<div class="edu_con">
			<div class="wrap">
                <ul>
                    <li><img src="__PUBLIC__/home/images/3D1.png" alt="合作伙伴1" /><span>Unity3D开发</span></li>
                    <li><img src="__PUBLIC__/home/images/UI1.png" alt="合作伙伴1" /><span>UI设计</span></li>
                    <li><img src="__PUBLIC__/home/images/snsj1.png" alt="合作伙伴1" /><span>室内设计</span></li>
                    <li><img src="__PUBLIC__/home/images/webqd1.png" alt="合作伙伴1" /><span>web前端设计</span></li>
                    <li><img src="__PUBLIC__/home/images/jzzs1.png" alt="合作伙伴1" /><span>建筑展示</span></li>
                    <li><img src="__PUBLIC__/home/images/yxmx1.png" alt="合作伙伴1" /><span>游戏模型</span></li>
                    <li><img src="__PUBLIC__/home/images/zx1.png" alt="合作伙伴1" /><span>在线咨询</span></li>
                </ul>
			</div>
		</div>
		<div class="footer">
			<div class="wrap wrap5">
				<ul>
				
					<li><a href="">关于我们</a><span>品牌介绍</span><span>VR教育</span><span>发展优势</span></li>
					<li><a href="">就业体系</a><span>就业体系</span><span>人才输出</span><span>就业服务</span></li>
					<li><a href="">学员服务</a><span>报名流程</span><span>先学习后付款</span><span>学院地址</span><span>校园环境</span></li>
					<li><a href="">高端教育</a><span>院校合作</span><span>企业定制</span><span>文化扶贫</span><span>教育信息化</span></li>
					<li><a href="">联系我们</a><span>课程咨询</span><span>合作洽谈</span><span>文化扶贫</span><span>教育信息化</span></li>
				</ul>
				<div class="camp_info">
					<p>公司地址：北京市石景山区阜石路165号院中国华录大厦14层</p>
					<p>邮编 P.C：100043 传真 FAX：（010）52281678 东东007客服电话：400-0097-007</p>
					<p>蓝光业务咨询：86-13810308927</p>
					<p>京ICP备10205992号-3</p>
				</div>
				<div class="ew_img_box">
					<img src="__PUBLIC__/home/images/ew.png" alt="公司二维码图片" />
					<img style="margin-top:80px;" src="__PUBLIC__/home/images/jt.png" alt="向上的箭头" />
				</div>
			</div>
		</div>
	</body>
</html>