<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>学习中心页面</title>
    <link rel="stylesheet" href="../Public/home/css/common.css"/>
    <link rel="stylesheet" href="../Public/home/css/style_courseBrief.css"/>
    <link rel="stylesheet" href="../Public/home/css/learnCenter.css"/>
    <script src="../Public/home/js/jquery-1.11.3.js"></script>
    <script src="../Public/home/js/common.js"></script>
    <script src="../Public/home/js/html5shiv.min.js"></script>
    <script src="../Public/home/js/learnCenter.js"></script>
    <script src="../Public/home/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
    <div id="header"></div>
    <!--nan部分-->
    <nav>
        <ul>
            <li class="hualu">
                <img src="../Public/home/image/nav.png" alt=""/>
            </li>
            <li class="search">
                <input type="text" placeholder="请输入课程关键字"/>
                <span>搜索</span>
            </li>
        </ul>
    </nav>
    <div id="article">
        <ul class="nav">
            <li >
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/news">培训资讯</a>
            </li>
            <li >
                <a href="/course?is_master=1">选课</a>
            </li>
            <li class="active">
                <a href="/user/center">学习中心</a>
            </li>
        </ul>
    </div>
    <!-- 以上为共有标签-->

    <div id="concent">
        <ul class="co_left">
            <li class="active lf_1" ><a href="#">当前课程表</a></li>
            <li class="lf_2">已结课记录</li>
            <a href="/user/info"><li>资料中心</li></a>
            <a href="/user/help"><li>帮助中心</li></a>
            <a href="/user/prove"><li>学习记录证明</li></a>
        </ul>
        <div class="co_right">
            <div class="co_top">
                <dl class="info">
                    <dt>
                        <img class="cover" src="{$user_info.avatar}" alt=""/>
                    </dt>
                    <dd>
                        <h1><img src="../Public/home/image/learnCenter_06.png">{$user_info.name}</h1>

                        <p><img src="../Public/home/image/learnCenter_09.png">{$user_info.mobile}</p>
                    </dd>
                </dl>
                <ul class="course">
                    <li id="wait_count">
                        <a href="#wait_cse"><h1>{$cse_count.wait}</h1></a>
                        <p>等待审核课程</p>
                    </li>
                    <li id="learn">
                        <a href="#learn_cse"><h1>{$cse_count.learning}</h1></a>
                        <p>正在学习</p>
                    </li>
                    <li id="over">
                        <h1>{$cse_count.over}</h1>
                        <p>已学完</p>
                    </li>
                    <li>
                        <h1>{$learn_time} <span>分钟</span></h1>
                        <p>学习总时长</p>
                    </li>
                </ul>
            </div>
            <div class="banner" id="wait_cse">
                <h1>等待审核课程</h1>
                <div class="picScroll-left">
                    <div class="hd">
                        <a class="prev"></a>
                        <a class="next"></a>
                    </div>
                    <div class="bd">
                        <ul class="picList imgList">
                            <foreach name="wait_cse" item="vo">
                                <li>
                                    <a href="/course/courseInfo?course_id={$vo.course_id}">
                                        <img src="{$vo.cover}" alt=""/>
                                    </a>
                                    <span class="lt">
                                        <if condition="($cse_info['is_pub'] eq 1 )">公开

                                        <else />内训</if></span>
                                    <div class="hour">{$vo.os_cn}</div>
                                    <h4>{$vo.name}</h4>
                                    <div class="btn">
                                    <a href="#">
                                      <span>
                                    审核帮助
                                    </span>
                                    </a>
                                    </div>
                                </li>

                            </foreach>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="current current_1" id="learn_cse">
                <h1>
                    当前学习课程
                </h1>
                <ul class="prog">
                    <li class="pg_1">
                        课程名称
                        <em>|</em>
                    </li>
                    <li class="pg_2">
                        学习时限
                        <em>|</em>
                    </li>
                    <li class="pg_3">
                        学习进度
                    </li>
                </ul>
                <div class="con_2">
                    <h5>
                        <ul class="msg">
                            <foreach name ="len_cse"  item="val">
                                <li>
                                    <span class="cse_name">{$val.name}</span>
                                    <span class="end_time">{$val.end_time}</span>
                                    <span class="tm">{$val.sum_dur}</span>

                                    <foreach name="val.cse_video" item="vo">
                                        <p class="p_1">
                                    <span class="lf">
                                        <a href="/course/listenCourse?resource_id={$vo.resource_id}">{$vo.res_name}</a>
                                    </span>
                                    <span class="rg">
                                        学习中
                                    </span>
                                        </p>
                                    </foreach>
                                </li>
                            </foreach>

                        </ul>
                    </h5>
                </div>
            </div>
            <div class="current_2">
                <h1>
                    已结课学习记录
                </h1>
                <ul class="record">
                    <li class="rd_1">
                        课程名称
                    </li>
                    <li class="rd_2">课程时间
                    </li>
                    <li class="rd_4">学习进度</li>
                </ul>
                <div class="con_2">
                    <h5>
                        <ul class="msg">
                            <foreach name ="over_cse"  item="val">
                                <li>
                                    <span class="cse_name">{$val.name}</span>
                                    <span class="end_time">{$val.end_time}</span>
                                    <span class="tm">{$val.sum_dur}</span>

                                    <foreach name="val.cse_video" item="vo">
                                        <p class="p_1">
                                    <span class="lf">
                                        <a href="{$vo.file_path}">{$vo.res_name}</a>
                                    </span>
                                    <span class="rg">
                                        学习结束
                                    </span>
                                        </p>
                                    </foreach>
                                </li>
                            </foreach>

                        </ul>
                    </h5>
                </div>
            </div>
        </div>
    </div>



<footer id="footer"></footer>

</body>
</html>