<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>学习中心页面-学习记录证明</title>
    <link rel="stylesheet" href="../Public/home/css/{$css_path}/common.css"/>
    <link rel="stylesheet" href="../Public/home/css/{$css_path}/style_courseBrief.css"/>
    <link rel="stylesheet" href="../Public/home/css/{$css_path}/studyProof.css"/>
    <script src="../Public/home/js/jquery-1.11.3.js"></script>
    <script src="../Public/home/js/common.js"></script>
    <script src="../Public/home/js/html5shiv.min.js"></script>
    <script src="../Public/home/js/studyProof.js"></script>

</head>
<body>
    <div id="header"></div>
    <!--nan部分-->
    <nav>
        <ul>
            <li class="hualu">
                <img src="../Public/home/image/nav.png" alt=""/>
            </li>
            <li class="search">
                <input type="text" placeholder="请输入课程关键字"/>
                <span>搜索</span>
            </li>
        </ul>
    </nav>
    <div id="article">
        <ul class="nav">
            <li >
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/news">培训资讯</a>
            </li>
            <li >
                <a href="/course?is_master=1">选课</a>
            </li>
            <li class="active">
                <a href="/user/center">学习中心</a>
            </li>
        </ul>
    </div>
    <!-- 以上为共有标签-->


    <div id="concent">
        <ul class="co_left">
            <a href="/user/center"> <li class="lf_1">当前课程表</li></a>
            <li class="lf_3">
                <a href="/user/info">资料中心</a>
                <i></i>
            </li>
            <a href="/user/help"> <li class="lf_4">帮助中心</li></a>
            <a href="/user/prove"><li class="lf_5 active">学习记录证明</li></a>
        </ul>
        <div class="co_right">
            <p class="number">
                证明编号: <span>00121312412</span>
            </p>
        </div>
</div>

    <footer id="footer"></footer>


</body>
</html>