<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>part部分</title>
    <link rel="stylesheet" href="../Public/home/css/part.css"/>
    <link rel="stylesheet" href="../Public/home/css/common.css"/>
    <script src="../Public/home/js/jquery-1.11.3.js"></script>
    <!--[if lt IE 9]>

    <style type="text/css">

        ul.learn li div.hour {
            background:transparent;
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
            zoom: 1;
        }
    </style>

    <![endif]-->
</head>
<body>
<div id="course">
    <ul class="learn learn_1" style="display: block">
        <foreach name="course_list" item="vo">
        <li>
            <a class="cse_info" href="/course/courseInfo?course_id={$vo.course_id}"><img src="{$vo['cover']}"  height="147" width="224" alt=""/></a>
            <div class="hour">{$vo.os_cn}</div>
            <h4>{$vo.name}</h4>
            <div class="btn">
               <span class="btn_1">
                    <img src="<?php ($vo['is_pub'] == 1) ? print_r('../Public/home/image/gongkai.png') : print_r('../Public/home/image/neixun.png');?>" alt=""/>
                </span>
                <span class="btn_2">
                    <a href="/course/register?course_id=<?php echo $vo['course_id'];?>"> <img src="../Public/home/image/baoming.png" alt=""/></a>
                </span>
            </div>
        </li>
        </foreach>
    </ul>
</div>

<script>
   $(".cse_info").click(function(e){
       var href = $(this).attr('href');
       parent.frames.location.href=href
   })
</script>



</body>
</html>