<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>开班信息</title>
		<link href="__PUBLIC__/home/css/list.css" rel="stylesheet" type="text/css" />

		<script>
		document.oncontextmenu=function(e){ 
		return false; 
		};
		</script>

	</head>
	<body>
		<div class="wrap3">
			<div class="recommend">
				<div class="rec_title">
					<h1>推荐班</h1>
				</div>
				<div class="rec_con">
                    <volist name="rmd_cus" id="vo">
					<div class="rec_list">
						<img src={$vo.img} alt="ui就业班logo" />
						<div class="rec_con_info">
							<div class="rec_con_name">{$vo.name}</div>
							<div class="rec_con_time">开班时间：{$vo.begin_time|date="y-m-d H:i:s",###}</div>
							<div class="rec_con_teacher">讲&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;师：{$vo.teacher}</div>
						</div>
						<div class="reg_button"><a href="">报名</a></div>
					</div>
                    </volist>

				</div>
			</div>
			<div class="clear"></div>
			<div class="new_class">
				<div class="new_class_title">
					<h1>近期开班课程</h1>
				</div>
				<table class="new_class_tab">
					<tbody>
						<tr>
							<th width="130px" style="border-radius:5px 0px 0px 5px;">开班校区</th>
							<th width="310px" style="border-radius:0px;">开班学科</th>
							<th width="310px" style="border-radius:0px;">开班时间</th>
							<th width="130px" style="border-radius:0px 5px 5px 0px;">开班情况</th>
						</tr>

                            <volist name="rcy_cus" id='vo'>
						<tr>
							<td width="130px" >{$area_list.$vo[area]}</td>
							<td width="310px">{$vo.name}</td>
							<td width="310px">{$vo.begin_time|date="y-m-d H:i:s",###}</td>
							<td width="130px"><div class="rz_button">
                               {$cus_status.$vo[status]}</div> </td>
						</tr>
                        </volist>

					</tbody>
				</table>
			</div>
		</div>	
	</body>
</html>