<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>选课中心</title>
    <link rel="stylesheet" href="../Public/home/css/common.css"/>
    <link rel="stylesheet" href="../Public/home/css/style_course.css"/>
    <link rel="stylesheet" href="../Public/home/css/part.css"/>

    <script src="../Public/home/js/jquery-1.11.3.js"></script>
    <script src="../Public/home/js/html5shiv.min.js"></script>
    <script src="../Public/home/js/course.js"></script>
    <script src="../Public/home/js/common.js"></script>
    <!--<script src="../Public/home/js/jquery.page.js"></script>-->
    <script src="../Public/home/js/jquery.twbsPagination.min.js"></script>


</head>
<body>


<!--head部分-->
<header id="header">
</header>

<!--nan部分-->
<nav id="nav">

</nav>

<div id="article">
    <ul class="nav">
        <li >
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/news">培训资讯</a>
        </li>
        <li class="active">
            <a href="/course?is_master=1">选课</a>
        </li>
        <li>
            <a href="/user/center">学习中心</a>
        </li>
    </ul>
</div>

<div id="select">
    <h1>选课中心</h1>
    <div class="concent">
        <div class="row">
            <div class="row_left ">
                <span class="row_left_1">课程提供方：</span>
               <a href="/course"> <span class="row_left_2">全部</span></a>
            </div>
            <div class="row_right row_right_master">
                <ul>
                    <li value="1">
                       国资委干教中心
                    </li>
                    <li  value="2">
                       {$sub_name}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="row_left ">
                 <span class="row_left_1">学习方向：</span>
                <span class="row_left_2">全部</span>
            </div>
            <div class="row_right row_right_dir">
                <ul>
                    <foreach name="cd_list" item="vo">
                        <li  value="{$vo.cd_id}">
                            {$vo.name}
                       </li>
                   </foreach>
               </ul>
           </div>
       </div>
       <div class="row">
           <div class="row_left ">
               <span class="row_left_1">分类：</span>
               <span class="row_left_2">全部</span>
           </div>
           <div class="row_right row_right_type">

           </div>
       </div>
     <div class="row">
       <div class="row_left ">
           <span class="row_left_1">类型：</span>
           <span class="row_left_2">全部</span>
       </div>
       <div class="row_right row_right_status">
           <ul>
               <li class="pub_1" value="1">
                  公开
               </li >
               <li class="pub_2" value="2">
                  内训
               </li >
               <li class="pub_3" value="3">
                   定向
               </li>
           </ul>
       </div>
   </div>
   </div>
</div>
<div id="allcourse">
</div>

<div class="pageBox"  id="pageBox" style="text-align: center;">
    <ul id="pagination" class="pagination m-n"></ul>
</div>
<footer id="footer" >

</footer>

</body>
</html>