<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>UI专题</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/UI.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/list.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/course.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/responsiveslides.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/slider.css">
	<script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/home/js/slider.js"></script>
	<script type="text/javascript" src="__PUBLIC__/home/js/jquery.yx_rotaion.js"></script>
	
	</head>
	<body>
	<div class="head">
			<div class="wrap">
				<div class="logobox">
					<div class="left">
						<img src="__PUBLIC__/home/images/logo.png" alt="华录文化教育LOGO" />
					</div>
					<div class="right">
						<img src="__PUBLIC__/home/images/by.png" alt="宣传标语" />
						<img src="__PUBLIC__/home/images/phone.png" alt="华录文化教育400服务电话" />
					</div>
				</div>
				<div class="nav">
                    <ul>
                        <li><a href="/index">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
                        <li><a href="/about">关于我们</a></li>
                        <li><a href="/course">课程设置</a></li>
                        <li><a href="/employment">就业体系</a></li>
                        <li><a href="/notice">学员须知</a></li>
                        <li><a href="/train">高端培训</a></li>
                        <li><a href="contact_us.html">联系我们</a></li>
                    </ul>
				</div>
				
			</div>
			<div class="slider">
				<img src="__PUBLIC__/home/images/banner3.jpg" alt="广告轮播图" />
			</div>
			<div class="clear"></div>
	</div>
		<div class="course">
			<div class="wrap">
				<div class="cour_con">
					<div class="cour_list left">
						<div class="cour_icon"><img src="__PUBLIC__/home/images/Web1.png" alt="Webicon" /></div>
						<div class="cour_intr_title"><img src="__PUBLIC__/home/images/UI_04.png" alt="Webicon" /></div>
						<div class="cour_intr">随着网络普及和发展，网站作为一种很强大的工具和平台越来越融入了人们的生活，而与用户关系最密切的前端技术也逐渐得到应有的重视。
							我们可以看到前端重构的行业发展潜力巨大，各大知名的网络公司对前端人才的求饥若渴。</div>
					</div>
					<div class="cour_list left">
						<div class="cour_icon"><img src="__PUBLIC__/home/images/Web2.png" alt="Webicon" /></div>
						<div class="cour_intr_title"><img src="__PUBLIC__/home/images/UI_05.png" alt="Webicon" /></div>
						<div class="cour_intr">在互联网高速发展的今天，Web前端工程师是市场上紧缺的高技能人才，每天有数万家企业招聘该岗位，以上海为例，上海互联网紧缺人才报告发布WEB前端开发工程师最紧俏，
							可以说Web前端就业前景广阔WEB前端开发工程师，是互联网行业争抢的高端人才。</div>
					</div>
					<div class="cour_list left">
						<div class="cour_icon"><img src="__PUBLIC__/home/images/Web3.png" alt="Webicon" /></div>
						<div class="cour_intr_title"><img src="__PUBLIC__/home/images/UI_06.png" alt="Webicon" /></div>
						<div class="cour_intr">Web前端开发源于传统的互联网，互联网普及让人才需求量居高不下，随着移动互联网的高速发展，移动终端的前端开发也越来越受到重视，因此薪水自然也高，据智联招聘、
							51Job、猎聘网等招聘网站得到的数据，Web前端工程师的平均薪资都在万元以上，是真正的高薪职业。。</div>
					</div>
				</div>
			</div>
		</div>
		<!---->
		<div class="UI">
			<div class="UI_title"><img src="__PUBLIC__/home/images/UI_24.png" alt="Webicon" /></div>
			<img src="__PUBLIC__/home/images/Web_37.png" alt="UIicon" />
			<div class="UI_con"><img src="__PUBLIC__/home/images/UI_28.png" alt="Webicon" /></div>
		</div>
		<!---->
		<div class="reason">
			<div class="re_title"><img src="__PUBLIC__/home/images/UI_31.png" alt="Webicon" /></div>
			<div class="re_con"><img src="__PUBLIC__/home/images/UI_35.png" alt="Webicon" /></div>
		</div>
		<!---->
		<div class="UI-course">
			<div class="cou_title"><img src="__PUBLIC__/home/images/UI_39.png" alt="Webicon" /></div>
			<img src="__PUBLIC__/home/images/Web_37.png" alt="UIicon" />
			<div class="cou_con"><img src="__PUBLIC__/home/images/UI_43.png" alt="Webicon" /></div>
		</div>
		<!---->
		<div class="star">
			<div class="wrap">
				<div class="star_con">
					<div class="star_title"><img src="__PUBLIC__/home/images/Web_34.png" alt="Webicon"  style="margin: 0 auto; display: block;margin: 40px auto;"></div>
				</div>	
			</div>
			<img src="__PUBLIC__/home/images/Web_37.png" alt="UIicon" / style="margin: 0 auto; display: block;">
			<div class="wrap">
				<div class="star_con">					
					<div class="star_list left">
						<div class="star_icon"><img src="__PUBLIC__/home/images/Web_40.png" alt="3Dicon" /></div>
						<div class="star_intr"><span>张千祎</span>  UI高级设计师 <br />北京红色香蕉广告有限公司</div>
						<div class="info_button"><a href="">￥9000/月</a></div>
					</div>
					<div class="star_list left">
						<div class="star_icon"><img src="__PUBLIC__/home/images/Web_40.png" alt="3Dicon" /></div>
						<div class="star_intr"><span>张千祎</span>  UI高级设计师 <br />北京红色香蕉广告有限公司</div>
						<div class="info_button"><a href="">￥9000/月</a></div>
					</div>
					<div class="star_list left">
						<div class="star_icon"><img src="__PUBLIC__/home/images/Web_40.png" alt="3Dicon" /></div>
						<div class="star_intr"><span>张千祎</span>  UI高级设计师 <br />北京红色香蕉广告有限公司</div>
						<div class="info_button"><a href="">￥9000/月</a></div>
					</div>
					<div class="star_list left">
						<div class="star_icon"><img src="__PUBLIC__/home/images/Web_40.png" alt="3Dicon" /></div>
						<div class="star_intr"><span>张千祎</span>  UI高级设计师 <br />北京红色香蕉广告有限公司</div>
						<div class="info_button"><a href="">￥9000/月</a></div>
					</div>
					<div class="star_list left">
						<div class="star_icon"><img src="__PUBLIC__/home/images/Web_40.png" alt="3Dicon" /></div>
						<div class="star_intr"><span>张千祎</span>  UI高级设计师 <br />北京红色香蕉广告有限公司</div>
						<div class="info_button"><a href="">￥9000/月</a></div>
					</div>	
					<div class="star_list left">
						<div class="star_icon"><img src="__PUBLIC__/home/images/Web_40.png" alt="3Dicon" /></div>
						<div class="star_intr"><span>张千祎</span>  UI高级设计师 <br />北京红色香蕉广告有限公司</div>
						<div class="info_button"><a href="">￥9000/月</a></div>
					</div>
					<div class="star_list left">
						<div class="star_icon"><img src="__PUBLIC__/home/images/Web_40.png" alt="3Dicon" /></div>
						<div class="star_intr"><span>张千祎</span>  UI高级设计师 <br />北京红色香蕉广告有限公司</div>
						<div class="info_button"><a href="">￥9000/月</a></div>
					</div>
					<div class="star_list left">
						<div class="star_icon"><img src="__PUBLIC__/home/images/Web_40.png" alt="3Dicon" /></div>
						<div class="star_intr"><span>张千祎</span>  UI高级设计师 <br />北京红色香蕉广告有限公司</div>
						<div class="info_button"><a href="">￥9000/月</a></div>
					</div>
					<div class="star_list left">
						<div class="star_icon"><img src="__PUBLIC__/home/images/Web_40.png" alt="3Dicon" /></div>
						<div class="star_intr"><span>张千祎</span>  UI高级设计师 <br />北京红色香蕉广告有限公司</div>
						<div class="info_button"><a href="">￥9000/月</a></div>
					</div>
					<div class="star_list left">
						<div class="star_icon"><img src="__PUBLIC__/home/images/Web_40.png" alt="3Dicon" /></div>
						<div class="star_intr"><span>张千祎</span>  UI高级设计师 <br />北京红色香蕉广告有限公司</div>
						<div class="info_button"><a href="">￥9000/月</a></div>
					</div>	
				</div>
			</div>
		</div>
		<!--页脚-->
		<div class="footer">
			<div class="wrap wrap5">
				<ul>
				
					<li><a href="">关于我们</a><span>品牌介绍</span><span>VR教育</span><span>发展优势</span></li>
					<li><a href="">就业体系</a><span>就业体系</span><span>人才输出</span><span>就业服务</span></li>
					<li><a href="">学员服务</a><span>报名流程</span><span>先学习后付款</span><span>学院地址</span><span>校园环境</span></li>
					<li><a href="">高端教育</a><span>院校合作</span><span>企业定制</span><span>文化扶贫</span><span>教育信息化</span></li>
					<li><a href="">联系我们</a><span>课程咨询</span><span>合作洽谈</span><span>文化扶贫</span><span>教育信息化</span></li>
				</ul>
				<div class="camp_info">
					<p>公司地址：北京市石景山区阜石路165号院中国华录大厦14层</p>
					<p>邮编 P.C：100043 传真 FAX：（010）52281678 东东007客服电话：400-0097-007</p>
					<p>蓝光业务咨询：86-13810308927</p>
					<p>京ICP备10205992号-3</p>
				</div>
				<div class="ew_img_box">
					<img src="__PUBLIC__/home/images/ew.png" alt="公司二维码图片" />
					<img style="margin-top:80px;" src="__PUBLIC__/home/images/jt.png" alt="向上的箭头" />
				</div>
			</div>
		</div>		

	</body>
</html>