<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>选课中心</title>
    <link rel="stylesheet" href="__PUBLIC__/home/css/common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/home/css/style_course.css"/>
    <link rel="stylesheet" href="__PUBLIC__/home/css/part.css"/>

    <script src="__PUBLIC__/home/js/jquery-1.11.3.js"></script>
    <script src="__PUBLIC__/home/js/html5shiv.min.js"></script>
    <script src="__PUBLIC__/home/js/course.js"></script>
    <script src="__PUBLIC__/home/js/common.js"></script>


</head>
<body>


<!--head部分-->
<header id="header">
</header>

<!--nan部分-->
<div id="title">
    <img src="__PUBLIC__/home/image/nav.png" alt=""/>
</div>
<div id="article">
    <ul class="nav">
        <li >
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/news">培训资讯</a>
        </li>
        <li class="active">
            <a href="/course?is_master=1">选课</a>
        </li>
        <li>
            <a href="/user/center">学习中心</a>
        </li>
    </ul>
</div>

<div id="select">
    <h1>选课中心</h1>
    <div class="concent">
        <div class="row">
            <div class="row_left ">
                <span class="row_left_1">课程提供方：</span>
               <a href="/course/courseList"> <span class="row_left_2">全部</span></a>
            </div>
            <div class="row_right">
                <ul>
                    <li class="master_1 active">
                        <a href="course?is_master=1">国资委干教中心</a>
                    </li>
                    <li class="master_2">
                        <a href="course?is_master=2">中石油分站</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="row_left ">
                 <span class="row_left_1">学习方向：</span>
                <span class="row_left_2">全部</span>
            </div>
            <div class="row_right row_right_dir">
                <ul>
                    <foreach name="cd_list" item="vo">
                        <li class="cse_dir_{$vo.cd_id}">
                             <a href="/course?course_dir={$vo.cd_id}">{$vo.name}</a>
                       </li>
                   </foreach>
               </ul>
           </div>
       </div>
       <div class="row">
           <div class="row_left ">
               <span class="row_left_1">分类：</span>
               <span class="row_left_2">全部</span>
           </div>
           <div class="row_right row_right_type">
               <ul>
                   <foreach name="ct_list" item="vo">
                       <li class="cse_type_{$vo.ct_id}">
                           <a href="course?course_type={$vo.ct_id}">{$vo.name}</a>
                       </li>
                   </foreach>
               </ul>
           </div>
       </div>
     <div class="row">
       <div class="row_left ">
           <span class="row_left_1">类型：</span>
           <span class="row_left_2">全部</span>
       </div>
       <div class="row_right row_right_status">
           <ul>
               <li class="pub_1">
                   <a href="course?is_pub=1">公开</a>
               </li >
               <li class="pub_2">
                   <a href="course?is_pub=2">内训</a>
               </li >
               <li class="pub_3">
                   <a href="course?is_pub=3">定向</a>
               </li>
           </ul>
       </div>
   </div>
   </div>
</div>
<!--<div id="allcourse">-->
    <!--<h1>共有30门课程</h1>-->
    <!--<iframe src="/course/courseList?number=12&is_master=1" frameborder="0" scrolling="no" class="insert"></iframe>-->
<!--</div>-->
<div id="allcourse">
    <h1>共有{$count}门课程</h1>
    <ul class="learn learn_1" style="display: block">
        <foreach name="course_list" item="vo">
            <li>
                <a href="/course/courseInfo?course_id={$vo.course_id}"><img src="{$vo.cover}"  height="147" width="224" alt=""/></a>
                <div class="hour">{$vo.os_cn}</div>
                <h4>{$vo.name}</h4>
                <div class="btn">
               <span class="btn_1">
                    <img src="<?php ($vo['is_pub'] == 1) ? print_r('__PUBLIC__/home/image/gongkai.png') : print_r('__PUBLIC__/home/image/neixun.png');?>" alt=""/>
                </span>
                <span class="btn_2">
                    <a href="/course/register?course_id={$vo.course_id}"> <img src="__PUBLIC__/home/image/baoming.png" alt=""/></a>
                </span>
                </div>
            </li>
        </foreach>
    </ul>

</div>
<div id="page">
    <div class="code page_list">
        <ul>
            <li class="first"><a href="<?php echo 'course?page='.$page_arr['home'];?>">首页</a></li>
            <li class="prev">
                <a href="<?php echo 'course?page='.$page_arr['last'];?>">
                    上一页</a></li>
            <volist name="page_arr['list']" id="vo">
                <li class="num ">
                    <a href="<?php echo 'course?page='.$vo;?>" >{$vo}</a> </li>
            </volist>

            <li class="next"><a href="<?php echo 'course?page='.$page_arr['next'];?>">下一页</a></li>
            <li class="last"><a href="<?php echo 'course?page='.$page_arr['end'];?>">尾页</a></li>
        </ul>
    </div>

</div>
<footer id="footer" >

</footer>

<script >
    $("div.row_right_dir ul li a").click(function(e){

        var href=$(this).attr("href");
        var is_master = GetQueryString('is_master');
        var url = href+'&is_master='+is_master;
        $(this).attr('href',url);

    });
    $("div.row_right_type ul li a").click(function(e){
        var href=$(this).attr("href");
        var is_master = GetQueryString('is_master');
        var url = href+'&is_master='+is_master;
        $(this).attr('href',url);

    });
    $("div.row_right_status ul li a").click(function(e){

        var href=$(this).attr("href");
        var is_master = GetQueryString('is_master');
        var url = href+'&is_master='+is_master;

        if(GetQueryString('course_dir')){
            var course_dir = GetQueryString('course_dir');
            url+='&course_dir='+course_dir;
        }
        if(GetQueryString('course_type')){
            var course_type = GetQueryString('course_type');
            url+='&course_type='+course_type;
        }

        $(this).attr('href',url);

    });
    $("div.page_list ul li a").click(function(e){

        var href=$(this).attr("href");
        var is_master = GetQueryString('is_master');
        var url = href+'&is_master='+is_master;


        if(GetQueryString('course_dir')){
            var course_dir = GetQueryString('course_dir');
            url+='&course_dir='+course_dir;
        }
        if(GetQueryString('course_type')){
            var course_type = GetQueryString('course_type');
            url+='&course_type='+course_type;
        }

        if(GetQueryString('is_pub')){
            var is_pub = GetQueryString('is_pub');
            url+='&is_pub='+is_pub;
        }

        $(this).attr('href',url);
    })
</script>
<script>
    function GetQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }
</script>
<script>
    $(function(){
        function parseQueryString(url){
            var json = {};
            var arr = url.substr(url.indexOf('?') + 1).split('&');
            arr.forEach(function(item) {
                var tmp = item.split('=');
                json[tmp[0]] = tmp[1];
            })
            return json;
        }

        var url =window.location.href;
        var json = parseQueryString(url);

        if(is_master = json.is_master){
            var c = "div.row_right ul li.master_"+is_master;
            $(c).addClass("active")
                    .siblings().removeClass("active");
        }

        if(course_dir = json.course_dir){
            var d = "div.row_right_dir ul li.cse_dir_"+course_dir;
            $(d).addClass("active")
                    .siblings().removeClass("active");
        }

        if(is_pub = json.is_pub){
            var a = "div.row_right_status ul li.pub_"+is_pub;
            $(a).addClass("active")
                    .siblings().removeClass("active");
        }
        if(ct_id = json.course_type){
            var b = "div.row_right_type ul li.cse_type_"+ct_id;
            $(b).addClass("active")
                    .siblings().removeClass("active");
        }

    })
</script>


</body>
</html>