<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>听课中心页面</title>
    <link rel="stylesheet" href="../Public/home/css/common.css"/>
    <link rel="stylesheet" href="../Public/home/css/listenCourse.css"/>
    <script src="../Public/home/js/jquery-1.11.3.js"></script>
    <script src="../Public/home/js/common.js"></script>
    <script src="../Public/home/js/html5shiv.min.js"></script>
    <script src="../Public/home/js/listenCourse.js"></script>
    <script src="../Public/home/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../Public/home/js/ckplayer/ckplayer.js"></script>
    <script src="../Public/home/js/offlights.js"></script>



</head>
<body>
<div id="header"></div>
<!--nan部分-->
<nav id="nav">

</nav>

<div id="article">
    <ul class="nav">
        <li >
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/news">培训资讯</a>
        </li>
        <li>
            <a href="/course?is_master=1">选课</a>
        </li>
        <li class="active">
            <a href="/user/center">学习中心</a>
        </li>
    </ul>
</div>
<!-- 以上为共有标签-->




<p class="top">{$res_info.name}</p>
<!--播放器部分-->
<div id="play">
    <p>{$cse_info.end_time}</p>

        <!-- video播放器部分-->
        <div id="player">
                <div id="a1"></div>
            <div class="con_2">
                <h4>
                    <span class="sa_1">目录</span>
                    <span class="sa_2">收起&gt;&gt;</span>
                </h4>
                <!--<div class="line_1">-->
                    <!--{$cse_info.name}-->
                <!--</div>-->
                <h5 style="display: block">
                    <ul class="msg">
                       <li>
                            {$cse_info.name}
                            <foreach name="cse_video" item="vo">
                                <p class="p_1">
                                    <span class="lf"></span>
                                <span class="rg">
                                <a href="/course/listenCourse?resource_id={$vo.resource_id}">{$vo.res_name}</a>
                            </span>
                                </p>
                            </foreach>
                        </li>
                    </ul>
                </h5>
                <p class="bg">
                    <span></span>
                </p>
            </div>
            <div class="shrink">
                <span><img src="../Public/home/image/shrink_03.png">
                    </span></div>

</div>
    <div id="nowTime"></div>
</div>
<!--老师介绍,资料下载部分-->
<div id="aside">
    <div class="teach">
        <h4 class="wire wire_1">老师介绍</h4>
        <div class="pic">
            <img src="{$cse_info.tea_img}" alt=""/>
            <h1>{$cse_info.tea_name}</h1>
            <p>{$cse_info.tea_intro}</p>
        </div>
    </div>
    <div class="detail">
        <h4 class="wire wire_2">资料下载</h4>
        <div class="kind">
            <ul class="book">
                <foreach name="cse_file" item="vo">
                    <li class="doc">
                        <img src="{$vo.file_cover}">
                        <span class="res_name">{$vo.res_name}</span>
                        <span class="res_size">{$vo.file_size}M</span>
                        <p><a href="{$vo.file_path}">立即下载</a></p>
                    </li>

                </foreach>
            </ul>
        </div>
    </div>
</div>


<!--相关课程轮播部分-->
<div id="relate">
    <h4 class="wire cour">相关课程</h4>
    <div class="banner">
        <div class="picScroll-left">
            <div class="hd">
                <a class="prev"></a>
                <a class="next"></a>
            </div>
            <div class="bd">
                <ul class="picList imgList">
                    <foreach name="cse_list" item="vo">
                        <li>
                            <a href="/course/courseInfo?course_id={$vo.course_id}"><img src="{$vo.cover}" alt=""/></a>
                            <span class="lt">公开</span>
                            <div class="hour">{$vo.os_cn}</div>
                            <h4>{$vo.name}</h4>
                            <div class="btn">
                                    <span>
                                    <a href="/course/register?course_id={$vo.course_id}"></a>报名学习
                                    </span>
                            </div>
                        </li>
                    </foreach>

                </ul>
            </div>
        </div>
    </div>
</div>
<footer id="footer"></footer>
<script type="text/javascript">

     w_time = 0;//当前播放时间


    function loadedHandler(){
        if(CKobject.getObjectById('ckplayer_a1').getType()){
            CKobject.getObjectById('ckplayer_a1').addListener('time',timeHandler);
        }
        else{
            CKobject.getObjectById('ckplayer_a1').addListener('time','timeHandler');
        }
    }

    //监听播放时间
    function timeHandler(t){
        if (t > -1) {
            w_time = t;
        }
    }

    // 记录学员观看视频时间
     timer = setInterval(updateRecord,1000*4);

     function updateRecord(){

         var param = {
             'resource_id': '{$res_info.resource_id}',
             'watch_time': w_time
         };

         $.post(BASE_URL+'/course/learnRecord/',param,function(response){

             })
     }



    var flashvars={
        f:'/course/showVideo?id=[$pat]',
        a:'{$res_info.output_id}',
        s:1,
        c:0,
        g:'{$watch_time}',
        loaded:'loadedHandler'
    };
    var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
    CKobject.embed('../Public/home/js/ckplayer/ckplayer.swf','a1','ckplayer_a1','930','480',false,flashvars,params);




</script>
</body>
</html>