<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>课程报名</title>
    <link rel="stylesheet" href="../Public/home/css/{$css_path}/common.css"/>
    <link rel="stylesheet" href="../Public/home/css/{$css_path}/courseRegist.css"/>
    <script src="../Public/home/js/jquery-1.11.3.js"></script>
    <script src="../Public/home/js/html5shiv.min.js"></script>
    <script src="../Public/home/js/courseRegist.js"></script>
    <script src="../Public/home/js/common.js"></script>
</head>

<body>
<!--head部分-->
<header id="header">
</header>
<!--nan部分-->
<nav id="nav">

</nav>

<div id="article">
    <ul class="nav">
        <li >
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/news">培训资讯</a>
        </li>
        <li class="active">
            <a href="/course?is_master=1">选课</a>
        </li>
        <li>
            <a href="/user/center">学习中心</a>
        </li>
    </ul>
</div>

<div id="entry">
    <p><a href="/course/courseInfo?course_id={$cse_info.course_id}">&lt;&lt;返回课程详情</a></p>
    <div id="step" class="step_1">

    </div>
    <!--<img src="../Public/home/image/wait_1.png" alt=""/>-->
</div>
<div id="page" class="page_1">
    <div class="page_head">
        <div class="page_head_1">报名流水号：{$reg_id}</div>
        <div class="page_head_2">{$cse_info.name}</div>
        <div class="page_head_3">
            <if condition="($cse_info['is_pub'] eq 1)">
                <span class="sp_1">公开</span>
                <else />
                <span class="sp_2">内训</span>
            </if>
            <span class="sp_3"><span class="sp_3_1">￥</span><span class="sp_3_2">{$cse_info.price}</span></span>
        </div>
    </div>
    <div class="page_body">
        <h1>基本信息</h1>
        <table>
            <tr>
                <td class="username">
                    <span>
                        姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:
                    </span>{$user_info.name}</td>
                <td class="dire">
                    <span>
                        主管单位:
                    </span>{$user_info.unit}</td>
            </tr>
            <tr>
                <td class="sex">
                    <span>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:</span>
                    <if condition="($user_info['gender'] eq 1)">
                        男
                        <else />
                      女
                    </if>
                </td>
                <td class="unit">
                    <span>
                        单位名称:
                    </span>{$user_info.unit}</td>
            </tr>
            <tr>
                <td class="data">
                    <span>
                        出生年月:
                    </span>
                    {$user_info.birthday}
                </td>
            </tr>
            <tr>
                <td class="iphone">
                    <span>
                        手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机:
                    </span>
                    {$user_info.mobile}
                </td>
            </tr>
            <tr>
                <td class="email">
                    <span>
                        电子邮箱:
                    </span>
                    {$user_info.email}
                </td>
            </tr>
        </table>
        <div class="info">
            <span class="info_1">修改基本信息</span>
            <span class="info_2">确认基本信息</span>
        </div>
    </div>
    <div class="pay">
        <h2>缴费信息</h2>
        <ul>
            <li>
                此课程为内训课程，学费：<span>{$cse_info.price}元</span>。请您尽快通过以下方式，完成支付！
            </li>
            <li class="safe">
                为保证安全，本课程暂不支持网上支付。
            </li>
            <li>
                账号：<i>0200080709026402891</i>
            </li>
            <li>
                开户行：<i>中国工商银行北京分行东城支行营业室</i>
            </li>
            <li>
                汇款后请向邮箱 <span>fuwu@tcsasac.com</span> 发送确认邮件，主要包括以下内容：
            </li>
            <li>
                汇款日期、付款方账户名称、发票信息（普票／专票信息按实际需求提供）、发票邮寄地址、
            </li>
            <li>
                联系人、联系电话、邮编、电子邮箱以及汇款学员名单、工作单位（集团及所在单位）
            </li>
        </ul>
        <p>
            <span class="p_1">&lt;&lt;返回上一步</span>
            <span class="p_2">提交审核</span>
        </p>
    </div>
    <div class="check check_1">
        <h4>报名请求已提交，请耐心等待审核通过...</h4>
        <p>
            <span>确定</span>
        </p>
    </div>
    <div class="check check_2">
        <h4>您的报名请求已提交审核,内训课程在收到汇款邮件后，1-2个工作日审核通过.</h4>
        <p>
            <span>确定</span>
        </p>
    </div>
</div>
<div id="confirm" class="page_2">
    <h4>请核对基本信息</h4>
    <div class="confirm_1">
        <span class="sn_1">报名流水号 :</span>
        <span class="sn_2"> {$reg_id}</span>
    </div>
    <div class="confirm_1">
        <span class="sn_1">报名课程 :</span>
        <span class="sn_2">{$cse_info.name}</span>
    </div>
    <div class="confirm_1">
        <span class="sn_1">报名人 :</span>
        <span class="sn_2">{$user_info.name}</span>
    </div>
    <div class="confirm_1">
        <span class="sn_1">课程性质 :</span>
        <span class="sn_2">
               <if condition="($cse_info['is_pub'] eq 2)">
                   内训收费课
                   <else />
                   公开免费课
               </if>
        </span>
    </div>
    <div class="confirm_1">
        <span class="sn_1">报名费 :</span>
        <span class="sn_2">无</span>
    </div>
    <p>
        <span class="p_1">&lt;&lt;返回上一步</span>
        <span class="p_2">提交信息</span>
    </p>
</div>

<footer id="footer" >

</footer>
</body>
</html>