<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Unity3D专题</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/Unity3D.css" />
			
	</head>
	<body>
	<div class="head">
			<div class="wrap">
				<div class="logobox">
					<div class="left">
						<img src="__PUBLIC__/home/images/logo.png" alt="华录文化教育LOGO" />
					</div>
					<div class="right">
						<img src="__PUBLIC__/home/images/by.png" alt="宣传标语" />
						<img src="__PUBLIC__/home/images/phone.png" alt="华录文化教育400服务电话" />
					</div>
				</div>
				<div class="nav">
                    <ul>
                        <li><a href="/index">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
                        <li><a href="/about">关于我们</a></li>
                        <li><a href="/course">课程设置</a></li>
                        <li><a href="/employment">就业体系</a></li>
                        <li><a href="/notice">学员须知</a></li>
                        <li><a href="/train">高端培训</a></li>
                        <li><a href="contact_us.html">联系我们</a></li>
                    </ul>
				</div>
				
			</div>

				<div class="slider">
					<img src="__PUBLIC__/home/images/banner6.jpg" alt="广告轮播图" />
				</div>
	
			<div class="clear"></div>
	</div>
		<div class="course">
			<div class="wrap">
				<div class="cour_con">
					<div class="cour_list">
						<img src="__PUBLIC__/home/images/jszc.png" alt="Webicon" />
					</div>
					<div class="cour_list">
						<div class="cour_intr_title"><img src="__PUBLIC__/home/images/jszc_title.png" alt="Webicon" /></div>
						<div class="cour_intr">传统的室内设计主要为硬装设计，即天花板墙面地面的处理，以及分割空间的实体、半实体等内部界面的处理。硬装设计无论何时都是装修装饰行业必不可少的一环。</div>
					</div>
					<div class="cour_list">
						<div class="cour_icon"><img src="__PUBLIC__/home/images/VRyx.png" alt="Webicon" /></div>
					</div>
					<div class="cour_list">
						<div class="cour_intr_title"><img src="__PUBLIC__/home/images/VRyx_title.png" alt="Webicon" /></div>
						<div class="cour_intr">新兴的软装配饰设计，涵盖我们所知的软装饰、后期配饰、家居店面陈列设计。元素主要有家具、饰品、灯饰、布艺织物、花艺及绿化造景等。
						随着 “ 轻装修重装饰” 的理念愈发被广大装修消费者所认同，软装在家装中所占比例也越来越大,也越来越受到人们的重视。</div>
					</div>
				</div>
			</div>
		</div>
		<!---->
		<div class="advance">
			<div class="advance_title"><img src="__PUBLIC__/home/images/Unity3D_22.png" alt="Webicon" /></div>
			<img src="__PUBLIC__/home/images/Web_37.png" alt="UIicon" />
			<div class="advance_con"><img src="__PUBLIC__/home/images/Unity3D_26.png" alt="Webicon" /></div>
		</div>
		<!---->
		<div class="reason">
			<div class="re_title"><img src="__PUBLIC__/home/images/UI_31.png" alt="Webicon" /></div>
			<div class="re_con"><img src="__PUBLIC__/home/images/UI_35.png" alt="Webicon" /></div>
		</div>
		<!---->
		<div class="advantage">
			<div class="adv_title"><img src="__PUBLIC__/home/images/Unity3D_33.png" alt="Webicon" /></div>
			<img src="__PUBLIC__/home/images/Web_37.png" alt="UIicon" />
			<div class="adv_con"><img src="__PUBLIC__/home/images/Unity3D_36.png" alt="Webicon" /></div>
		</div>
		<!--教师-->
		<div class="teacher">
			<div class="teacher_title">我们的教师团队</div>
			<img src="__PUBLIC__/home/images/teacher.jpg" alt="教师图片" />
		</div>
		<!--就业明星-->
		<div class="jober">
			<div class="jymx_title jymx_title2">我们的就业明星</div>
			<img src="__PUBLIC__/home/images/Web_37.png" alt="" />
			<div class="wrap">
				<ul>
					<li> 
						<img src="__PUBLIC__/home/images/tx.png" alt="就业明星头像" />
						<div class="mx_intr"><p><span>张千祎 </span>UI高级设计师北京红色香蕉广告有限公司</p></div>
						<div class="xuefei">￥9000/月</div>
					</li>
					<li> 
						<img src="__PUBLIC__/home/images/tx.png" alt="就业明星头像" />
						<div class="mx_intr"><p><span>张千祎 </span>UI高级设计师北京红色香蕉广告有限公司</p></div>
						<div class="xuefei">￥9000/月</div>
					</li>
					<li> 
						<img src="__PUBLIC__/home/images/tx.png" alt="就业明星头像" />
						<div class="mx_intr"><p><span>张千祎 </span>UI高级设计师北京红色香蕉广告有限公司</p></div>
						<div class="xuefei">￥9000/月</div>
					</li>
					<li> 
						<img src="__PUBLIC__/home/images/tx.png" alt="就业明星头像" />
						<div class="mx_intr"><p><span>张千祎 </span>UI高级设计师北京红色香蕉广告有限公司</p></div>
						<div class="xuefei">￥9000/月</div>
					</li>
					<li> 
						<img src="__PUBLIC__/home/images/tx.png" alt="就业明星头像" />
						<div class="mx_intr"><p><span>张千祎 </span>UI高级设计师北京红色香蕉广告有限公司</p></div>
						<div class="xuefei">￥9000/月</div>
					</li>
					<li> 
						<img src="__PUBLIC__/home/images/tx.png" alt="就业明星头像" />
						<div class="mx_intr"><p><span>张千祎 </span>UI高级设计师北京红色香蕉广告有限公司</p></div>
						<div class="xuefei">￥9000/月</div>
					</li>
					<li> 
						<img src="__PUBLIC__/home/images/tx.png" alt="就业明星头像" />
						<div class="mx_intr"><p><span>张千祎 </span>UI高级设计师北京红色香蕉广告有限公司</p></div>
						<div class="xuefei">￥9000/月</div>
					</li>
					<li> 
						<img src="__PUBLIC__/home/images/tx.png" alt="就业明星头像" />
						<div class="mx_intr"><p><span>张千祎 </span>UI高级设计师北京红色香蕉广告有限公司</p></div>
						<div class="xuefei">￥9000/月</div>
					</li>
					<li> 
						<img src="__PUBLIC__/home/images/tx.png" alt="就业明星头像" />
						<div class="mx_intr"><p><span>张千祎 </span>UI高级设计师北京红色香蕉广告有限公司</p></div>
						<div class="xuefei">￥9000/月</div>
					</li>
					<li> 
						<img src="__PUBLIC__/home/images/tx.png" alt="就业明星头像" />
						<div class="mx_intr"><p><span>张千祎 </span>UI高级设计师北京红色香蕉广告有限公司</p></div>
						<div class="xuefei">￥9000/月</div>
					</li>
					
				</ul>
			</div>
		</div>
		<!-- 报名图片-->
		<div class="bm">
			<div class="wrap">
				<div class="bm_img_box"> <img src="__PUBLIC__/home/images/bm.jpg" alt="" /></div>
				<div class="zx"><a href=""> 在线咨询</a></div>
				<div class="wybm wybm2"> <a href="">我要报名</a></div>
			</div>
		</div>
		<!--页脚-->
		<div class="footer">
			<div class="wrap wrap5">
				<ul>
				
					<li><a href="">关于我们</a><span>品牌介绍</span><span>VR教育</span><span>发展优势</span></li>
					<li><a href="">就业体系</a><span>就业体系</span><span>人才输出</span><span>就业服务</span></li>
					<li><a href="">学员服务</a><span>报名流程</span><span>先学习后付款</span><span>学院地址</span><span>校园环境</span></li>
					<li><a href="">高端教育</a><span>院校合作</span><span>企业定制</span><span>文化扶贫</span><span>教育信息化</span></li>
					<li><a href="">联系我们</a><span>课程咨询</span><span>合作洽谈</span><span>文化扶贫</span><span>教育信息化</span></li>
				</ul>
				<div class="camp_info">
					<p>公司地址：北京市石景山区阜石路165号院中国华录大厦14层</p>
					<p>邮编 P.C：100043 传真 FAX：（010）52281678 东东007客服电话：400-0097-007</p>
					<p>蓝光业务咨询：86-13810308927</p>
					<p>京ICP备10205992号-3</p>
				</div>
				<div class="ew_img_box">
					<img src="__PUBLIC__/home/images/ew.png" alt="公司二维码图片" />
					<img style="margin-top:80px;" src="__PUBLIC__/home/images/jt.png" alt="向上的箭头" />
				</div>
			</div>
		</div>			

	</body>
</html>