<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>华录文化管理后台</title>
    <link href="__PUBLIC__/admin/css/bk_block.css" type="text/css" rel="stylesheet" />
    <link href="__PUBLIC__/admin/css/bk_base.css" type="text/css" rel="stylesheet" />
</head>
<body class="by_login">


<!--<div id="div_company_mini" style="position: fixed; right: 467px; bottom: 232px; width: 403px; height: 378px; overflow: hidden; z-index: 10089; cursor: move;">-->
    <!--<div id="hz6d_cname_mini_div" style="font-size:16px;overflow:hidden;position:absolute;top:7px;left:10px;width:330px;height:20px;color:#fff;text-indent:30px;background:url(http://www8.53kf.com/style/chat/minichat2/img/minchat_ns_1.png) -79px 0 no-repeat;font-weight:bold;font-family:Arial;">华录教育</div>-->
    <!--<div title="缩小" mini_narrow="缩小" mini_recover="还原" max_min="max" style="position:absolute;top:10px;right:46px;width:12px;height:12px;background:url(http://www8.53kf.com/style/chat/minichat2/img/min.png?11) no-repeat; cursor:pointer;" onclick="max_min_company_mini(this);"></div>-->
    <!--<div title="切换到正常窗口" style="position:absolute;top:10px;right:28px;width:12px;height:12px;background:url(http://www8.53kf.com/style/chat/minichat2/img/maxto.gif) no-repeat; cursor:pointer;" onclick="max_from_company_mini(this);"></div>-->
    <!--<div title="关闭" style="position:absolute;top:10px;right:10px;width:12px;height:12px;background:url(http://www8.53kf.com/style/chat/minichat2/img/minchat_ns_1.png) -18px 0 no-repeat;cursor:pointer;" onclick="close_company_mini();"></div>-->
    <!--<div id="mini_header_bg_div" style="position:static;width:403px;height:35px;background:url(http://www8.53kf.com/style/chat/minichat2/img/header_bg_1.png?111) no-repeat;"></div>-->




<div id="login">
    <div class="login_logo">
        <img src="__PUBLIC__/admin/image/logo.png" width="330" height="35" border="0" />
        <span>华录学堂管理后台</span>
    </div>
    <div class="login_form">
        <form action="/admin/login/doLogin" method="get">
            <input id="username" name="username" type="text" value="用户名" class="txt01" onfocus="this.className='txt01_click',this.value=''" />
            <input id="password" name="password" type="text" value="密码" class="txt02" onfocus="this.className='txt02_click',this.value=''" />
            <input id="loginbtn" type="submit" value="登录" class="btn01" />
        </form>
    </div>
</div>



</body>
</html>
