<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>华录文化管理后台</title>
  
    <meta name="description" content="">
    <meta name="author" content="">
      <link href="../../Public/admin/css/bootstrap.css" rel="stylesheet">
      <link href="../../Public/admin/css/bootstrap-responsive.css" rel="stylesheet">
      <link href="../../Public/admin/css/stylesheet.css" rel="stylesheet">
      <link href="../../Public/admin/css/index.css" rel="stylesheet">
      <link href="../../Public/admin/icon/font-awesome.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="../../Public/admin/css/uploadify.css">

      <script src="../../Public/admin/js/jquery-1.10.2.js"></script>
      <script src="../../Public/admin/js/bootstrap.js"></script>
      <script src="../../Public/admin/js/WdatePicker.js"></script>
      <script src="../../Public/admin/js/common.js"></script>
      <script src="../../Public/admin/js/WdatePicker.js"></script>
      <script src="../../Public/admin/js/jquery.uploadify.min.js" ></script>

      <style type="text/css">
          .avatar img{
              height: 200px;
              width: 360px;
          }

      </style>
  </head>

  <body>

    
    <div id="content"> <!-- Content start -->
      <div class="inner_content">
          <div class="widgets_area">
                <div class="row-fluid">
                    <div class="span12">
                         <div  class="daohanglink"style="">
                           <span class="daohang"></span>
                             <a href="/admin">首页</a><span>></span>
                             <a href="/admin/subsite">分站管理</a><span>></span>
                           <span>添加分站</span>
                           
                         </div>
                        <div class="well brown">
                         <form action="/admin/subsite/doAddSubsite" method="get" enctype="multipart/form-data">
                            <div class="form_list"><label class="lable_title">名称</label><input id="name" name="name" class="form_input" type="text" value={$data.name}></div>

                              <div class="form_list "><label  class="lable_title">首页图</label>
                                  </div>

                             <div class="cover">
                                 <img src="{$data['subsite_banner']}" style="width: 360px;height: 200px;margin-top: -7px;margin-left: 61px;"/>
                                 <input type="hidden" name="subsite_banner">
                             </div>
                             <div class="upload">

                                 <div id="queue"></div>
                                 <input id="uploadify" name="uploadify" type="file" multiple="true">
                                 <p>
                                     <a href="javascript:jQuery('#uploadify').uploadify('upload','*');">上传</a>|
                                     <a href="javascript:jQuery('#uploadify').uploadify('ClearQueue','*');">取消上传</a>|
                                 </p>

                             </div>

                             <div class="form_list type" value="{$data.subsite_type}"><label class="lable_title">
                                 分站类型
                             </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <input type="radio" name="type" value="1">央企
                                 <input type="radio" name="type" value="2">机关
                                 <input type="radio" name="type" value="3">党校
                             </div>

                             <div id="tmp_color" class="form_list" value="{$data.tmp_color}"><label class="lable_title">
                                 模版颜色
                             </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <input type="radio" name="tmp_color" value="blue">蓝色
                                 <input type="radio" name="tmp_color" value="red">红色
                             </div>
                             <div class="form_list"><label class="lable_title">分站地址</label>
                                 <input id="address" name="address" class="form_input" type="text" value={$data.address}>
                             </div>

                             <!--<div class="form_list"><label class="lable_title">网址前缀</label>-->
                                 <!--<input id="ename" name="ename" class="form_input" type="text" value={$data.ename}>-->
                             <!--</div>-->
                             <div class="form_list"><label class="lable_title">分站简介</label>
                                 <input  name="intro"  class="form_input" type="text" value={$data.intro}>
                             </div>

                             <div class="form_list"><label class="lable_title">分站官网</label>
                                 <input id="site_url" name="site_url" class="form_input" type="text" value={$data.site_url}>
                             </div>


                             <input type="hidden" name="op_type" value="{$op_type}" />
                             <input type="hidden" name="subsite_id" value="{$data.subsite_id}" />
                           <div class="form_list"><input type="submit" class="submit" value="&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;"></div>
                         </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <script type="text/javascript">
      $(function(){

          if(type = $('.type').attr('value')){
              $('.type input[value=' + type +']').prop('checked',true);
          }

          if(tmp_color = $('#tmp_color').attr('value')){
              $('#tmp_color input[value=' + tmp_color +']').prop('checked',true);
          }


          $('#uploadify').uploadify({
              'formData': {
                  'timestamp': new Date().getTime(),
                  'token': '<?php echo md5(' + unique_salt + ' . $timestamp);?>',
                  'type': '3',
              },
              'swf': '/Public/admin/js/uploadify.swf',//swf路径
              'uploader': '/admin/course/upload',//处理文件的服务器地址
              'filesSelected': '1',//同时选择文件的个数
              'uploadLimit': '30',//选择文件的总数
              'method': 'post',
              'auto': false,
              'multi': true,
              'width': '120',
              'height': '40',
              'cancelImg': '/Public/admin/image/uploadify-cancel.png',
              'buttonText': '请选择图片',
              'fileObjName': 'uploadFile',
              'fileSizeLimit': '0',
              'onUploadSuccess': function (file, data, response) {
                  var obj = eval('(' + data + ')');

                  if (obj.code !== 10000)
                      alert(obj.msg);
                  else if (img_url = obj.result.path) {
                      $('.cover img').attr({src:BASE_URL+'/'+img_url});
                      $('.cover input').attr({value:img_url});
                  }

              }


          })
      })
  </script>


  </body>
</html>
