<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>华录文化管理后台</title>
  
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../../Public/admin/css/bootstrap.css" rel="stylesheet">
    <link href="../../Public/admin/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../../Public/admin/css/stylesheet.css" rel="stylesheet">
      <link href="../../Public/admin/css/style.css" rel="stylesheet">
    <link href="../../Public/admin/icon/font-awesome.css" rel="stylesheet">

      <!--分页加载的Js-->
      <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="../../Public/admin/js/jquery-1.10.2.js"></script>
      <script src="../../Public/admin/js/common.js"></script>



      <!--[if lt IE 9]>
      <script src="../../Public/admin/js/html5shiv.js"></script>
<![endif]-->

  </head>

  <body>

    
    <div id="content"> <!-- Content start -->
      <div class="inner_content">
          <div class="widgets_area">
                <div class="row-fluid">
                    <div class="span12">
                         <div  class="daohanglink"style="">
                           <span class="daohang"></span>
                           <a href="/admin">首页</a><span>></span>
                           <a href="/admin/subsite">分站管理</a><span>></span>
                           <span>分站管理</span>
                           <a  href="/admin/subsite/addSubsite" class="label label-warning"  style="float:right; margin:8px;">添加分站</a>
                         </div>
                        <div class="well brown">
                            
                           
                            <div class="well-content" style="border:0px ; display:block;">
                                <div id="select">
                                    <!--<div class="choose">-->
                                        <!--<span class="lf">所属分站</span>-->
                                        <!--<span class="rg"></span>-->
                                        <!--<ul class="kind">-->
                                            <!--<volist name="cse_dir" id="vo" key="k">-->
                                                <!--<li value="{$vo.cd_id}">{$vo.name}</li>-->
                                            <!--</volist>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <div class="search">
                                        <input type="text" placeholder="请输入搜索的姓名"/>
                                        <i></i>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered table-hover datatable" >
                                    <thead>
                                        <tr>
                                            <!--<th width="5%">排序</th>-->
                                            <th width="4%">分站Id</th>
                                            <th width="16%">名称</th>
                                            <th width="1%">分站前缀</th>
                                            <!--<th width="12%">分站官网</th>-->
                                            <!--<th width="12%">地址</th>-->
                                            <!--<th width="7%">邮编</th>-->
                                            <th width="8%">类型</th>
                                            <th width="20%">首页图</th>
                                            <th width="10%">创建时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <foreach name="sub_list" item="vo">
                                    <tr>
                                        <td>{$vo.subsite_id}</td>
                                        <td>{$vo.name}</td>
                                        <td>{$vo.ename}</td>
                                        <!--<td>{$vo.site_url}</td>-->
                                        <!--<td>{$vo.address}</td>-->
                                        <!--<td>{$vo.postcode}</td>-->
                                        <td>{$vo.subsite_type}</td>
                                        <td>
                                            <img src="{$vo.subsite_banner}" style="height: 82px;">
                                          </td>
                                        <td>{$vo.ctime}</td>
                                        <td>
                                            <a class="btn" href="/admin/subsite/addSubsite?op_type=1&subsite_id=<?php echo $vo['subsite_id'];?>" title="修改"><i class="icon-inbox"></i></a>
                                            <a class="btn" href="/admin/subsite/delSubsite?subsite_id={$vo.subsite_id}" title="删除"><i class="icon-trash"></i></a>
                                            <!--<a class="btn" href="#" title="查看"><i class="icon-exclamation"></i></a>-->
                                        </td>
                                    </tr>
                                        </foreach>

                                    </tbody>
                                    </table>
                                    <!--</table>-->
                                <div class="pagination">
                                    　　{$page_arr}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            $('.search i').click(function(){
                if(name = $('.search input').val()){
                    location.href  = BASE_URL+'/admin/student?name='+name;
                }
            });

//            $('.kind li').click(function(){
//                var cse_dir = $(this).attr('value');
//                location.href = BASE_URL+'/admin/course?cse_dir='+cse_dir;
//            })
        })
    </script>


  </body>
</html>
